<section class="section_signup">
    <p-loading [content-header]="contentLoading" [is-display]="showLoading"></p-loading>
    <div class="container_full_width">
        <div class="wrap">
            <ng-template #content let-modal>
                <div class="modal-body modal_body_signin">
                    <button type="button " class="close" aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
                        <span aria-hidden="true ">&times;</span>
                    </button>
                    <app-sign-in></app-sign-in>
                </div>
            </ng-template>

            <div class="row">
                <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 wrap_over_signin">
                    <div class="wrap_form_field">
                        <div class="header-page">
                            <h2 class="header-form"> {{'Register.Register'|translate}}</h2>
                            <span class="descrition-page">{{'Register.subtitle'|translate}}</span>
                        </div>

                        <form class="register-form" [formGroup]="signUpForm">
                            <div class="row two-item">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 one-line">
                                    <span class="title-input">{{'Register.name'|translate}}</span><span
                                        class="blue-text">*</span>
                                    <div class="form-input-2">

                                        <input type="text" name="CustomerName" maxlength="100" class=" fix-boder"
                                            formControlName="CustomerName" [ngClass]="{ 'is-invalid': f.CustomerName.touched && (f.CustomerName.errors?.required||formErrors?.CustomerName) }
                                                        ">

                                        <div *ngIf="isSubmitted && (formErrors?.CustomerName||f.CustomerName.errors)"
                                            class="text-danger">
                                            <span *ngIf="f.CustomerName.errors?.required" class="text-danger">
                                                {{'Register.message-require'|translate}}
                                            </span>
                                            <span
                                                *ngIf="f.CustomerName.errors?.minlength||f.CustomerName.errors?.maxlengh"
                                                class="text-danger">
                                                {{'Register.name-lenght'|translate}}
                                            </span>
                                            <span *ngIf="f.CustomerName.errors?.pattern" class="text-danger">
                                                {{'Register.message-format'|translate}}
                                            </span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 one-line">
                                    <span class="title-input">{{'Register.package'|translate}}</span><span
                                        class="blue-text">*</span>
                                    <div class="form-input-2">
                                        <select formControlName="PackageSelectedName"
                                            [ngClass]="{ 'is-invalid': f.PackageSelectedName.touched && f.PackageSelectedName.errors?.required }">
                                            <option selected disabled hidden></option>
                                            <option [value]="item.id" *ngFor="let item of allPackage">{{item.name}}
                                            </option>
                                        </select>
                                        <div *ngIf="isSubmitted&& f.PackageSelectedName.errors?.required"
                                            class="text-danger">
                                            <div *ngIf="f.PackageSelectedName.errors?.required">
                                                {{'Register.message-require'|translate}}</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row one-item">
                                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                                    <span class="title-input">{{'Register.shopname'|translate}}</span><span
                                        class="blue-text">*</span>
                                    <div class="form-input-1">
                                        <input type="text" class="fix-boder" formControlName="ShopName" maxlength="100"
                                            required="required"
                                            [ngClass]="{ 'is-invalid': f.ShopName.touched && f.ShopName.errors?.required }">

                                        <div *ngIf="isSubmitted && f.ShopName.errors" class="text-danger">
                                            <span
                                                *ngIf="f.ShopName.errors?.required">{{'Register.message-require'|translate}}</span>
                                            <span
                                                *ngIf="f.ShopName.errors?.pattern">{{'Register.message-format-6'|translate}}</span>
                                            <span
                                                *ngIf="f.ShopName.errors?.minlength||f.ShopName.errors?.maxlength">{{'Register.name-shop-length'|translate}}</span>
                                        </div>
                                    </div>
                                    <div class="sugest-name" *ngIf="shopDomain && !f.ShopName.errors">
                                        <div class="one-line"
                                            style="padding-top:10px;min-width: 15px;max-width: 50px; float:left;">
                                            <img src="../../../assets/images/sign-up/iconmonstr-light-bulb-16.svg">
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-8 col-lg-10 one-line shop-domain">
                                            <p>{{'Register.message-tips'|translate}}: <span>{{shopDomain}}</span>.
                                                {{'Register.message-tips2'|translate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row one-item">
                                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                                    <span class="title-input">{{'Register.shop-type'|translate}}</span><span
                                        class="blue-text">*</span>
                                    <div class="form-input-1">
                                        <select formControlName="ServiceName"
                                            [ngClass]="{ 'is-invalid': f.ServiceName.touched && f.ServiceName.errors?.required }">
                                            <!-- <option value="" disabled selected>{{'Register.shop-type0'|translate}}</option> -->
                                            <option selected disabled hidden></option>
                                            <option [value]="item.id" *ngFor="let item of allBusinessType">
                                                {{'Home.Feature.ServicesName.'+item.id|translate}}</option>
                                            <!-- <option value="salon">{{'Register.shop-type1'|translate}}</option>
                                                    <option value="spa">{{'Register.shop-type2'|translate}}</option>
                                                    <option value="phongkham" selected>{{'Register.shop-type3'|translate}}</option> -->

                                        </select>
                                        <div *ngIf="isSubmitted && f.ServiceName.errors" class="text-danger">
                                            <div *ngIf="f.ServiceName.errors?.required">
                                                {{'Register.message-require'|translate}}</div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row one-item">
                                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                                    <span class="title-input">{{'Register.phone-1'|translate}}</span><span
                                        class="blue-text">*</span>
                                    <div class="form-input-1">
                                        <input type="text" class="fix-boder" formControlName="Phone" required="required"
                                            [ngClass]="{ 'is-invalid': f.Phone.touched && f.Phone.errors?.required }">
                                        <div *ngIf="isSubmitted && f.Phone.errors" class="text-danger">
                                            <div *ngIf="f.Phone.errors?.required">
                                                {{'Register.message-require'|translate}}</div>
                                            <div *ngIf="f.Phone.errors?.pattern">
                                                {{'Register.message-format-2'|translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row one-item">
                                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                                    <span class="title-input">{{'Register.Email'|translate}}</span><span
                                        class="blue-text">*</span>
                                    <div class="form-input-1">
                                        <input type="email" class="fix-boder" formControlName="Email"
                                            required="required"
                                            [ngClass]="{ 'is-invalid': f.Email.touched && f.Email.errors?.required }">
                                    </div>
                                    <div *ngIf="isSubmitted && f.Email.errors" class="text-danger">
                                        <div *ngIf="f.Email.errors?.required">{{'Register.message-require'|translate}}
                                        </div>

                                        <div *ngIf="f.Email.errors?.pattern">{{'Register.message-format-3'|translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row two-item">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 one-line">
                                    <span class="title-input">{{'Register.Password'|translate}}</span><span
                                        class="blue-text">*</span>
                                    <div class="form-input-2">
                                        <input type="password" class=" fix-boder" formControlName="Password"
                                            maxlength="20" required="required"
                                            [ngClass]="{ 'is-invalid': f.Password.touched && f.Password.errors }">
                                        <div *ngIf=" isSubmitted &&f.Password.errors" class="text-danger">
                                            <div *ngIf="f.Password.errors.required">
                                                {{'Register.message-require'|translate}}</div>
                                            <div *ngIf="f.Password.errors.minlength||f.Password.errors.maxlength">
                                                {{'Register.pasword-length'|translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 one-line">
                                    <span class="title-input">{{'Register.re-password'|translate}}</span><span
                                        class="blue-text">*</span>
                                    <div class="form-input-2">
                                        <input type="password" class=" fix-boder" maxlength="20"
                                            formControlName="RetypePassword" required="required"
                                            [ngClass]="{ 'is-invalid': f.RetypePassword.touched &&f.RetypePassword.errors }">
                                        <div *ngIf="isSubmitted && f.RetypePassword.errors" class="text-danger">
                                            <div *ngIf="f.RetypePassword.errors.required">
                                                {{'Register.message-require'|translate}}</div>
                                            <div *ngIf="f.RetypePassword.errors.mustMatch">
                                                {{'Shared.FormCommon.mustMatch'|translate}}</div>
                                            <div
                                                *ngIf="f.RetypePassword.errors.minlength||f.RetypePassword.errors.maxlength">
                                                {{'Register.pasword-length'|translate}}</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row one-item poli_form">
                                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                                    <p>
                                        {{'Register.policy'|translate}}
                                        <a href="javascript:void(0)"> {{'Register.policy-2'|translate}}</a>
                                        {{'Register.policy-3'|translate}}
                                    </p>
                                    <!-- <div *ngIf="isSubmitted">
                                                <span >
                                                    {{'Register.message-require'|translate}}
                                                </span>
                                            </div> -->
                                </div>
                            </div>
                            <div class="row two-item poli_form">
                                <div class="one-line btn_submit_signup">
                                    <div class="form-input-2">
                                        <button (click)="onSubmit()">{{'Register.Register'|translate}}</button>
                                    </div>
                                </div>
                                <div class="one-line have_acc1">
                                    <p>{{'Register.have-account'|translate}} -<a href="javascript:void(0)"
                                            (click)="showModalLogin(content)"> {{'Shared.SigninBtnLabel'|translate}}</a>
                                    </p>
                                </div>

                            </div>

                        </form>
                    </div>


                </div>
                <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                    <div class="wrap_left_signin">
                        <div class="welcome-container">
                            <div class="wel_img">
                                <a href="#"><img src="assets/images/sign-up/logo-new.png"></a>
                            </div>
                            <!-- <h3 class="subtitle">Welcome to Ludiino Booking System</h3>
                            <hr> -->
                            <p>Get Ludiino Online Booking & Scheduling System to never miss a booking & book more
                                clients</p>
                        </div>
                        <div class="device_mac">
                            <img src="assets/images/sign-up/device-new.png" class="macbook_img">
                        </div>
                        <div class="ft_authen">
                            <span>Powered by Ludiino ©2019</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>