.yoga-booking {
    .main-steps {
        .step-wrapper {
            padding: 0;
            .step-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 7px;
                border-bottom: 1px solid #d7d7d7;
                padding: 15px 20px 15px;
                .step-title {
                    font-family: "ProximaNova";
                    font-size: 16px;
                    font-weight: 800;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.25;
                    letter-spacing: 0.32px;
                    text-align: left;
                    color: #111111;
                    text-transform: uppercase;
                    margin: 0;
                }
                .step-current {
                    font-family: ProximaNova;
                    font-size: 13px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.54;
                    letter-spacing: 0.26px;
                    text-align: left;
                    color: rgba(0, 0, 0, 0.6);
                }
            }
            .step-body {
                padding: 10px;
                .select-box {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px 12px;
                    .select-box-content {
                        overflow: hidden;
                        .select-box-title,
                        .select-box-description {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
                .filter {
                    display: flex;
                    margin-top: 15px;
                    .filter-date {
                        display: flex;
                        align-items: center;
                        background-color: #f3f3f3;
                        margin: 0 5px;
                        padding: 0 5px;
                        border: solid 1px #cdd0d5;
                        overflow: hidden;
                        max-width: 200px;
                        .go-date {
                            font-size: 17px;
                            padding: 3px 5px 3px 8px;
                            background: #f5f6f7;
                            display: flex;
                            height: 100%;
                            justify-content: center;
                            align-items: center;
                        }
                        .form-group {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .filter-select {
                width: 230px;
                border-radius: 1.5px;
                border: solid 0.5px #cdd0d5;
                background-color: #ffffff;
                position: relative;
                .select-box {
                    .select-box-title {
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 1.43;
                        letter-spacing: 0.28px;
                        color: #000000;
                    }
                    .select-box-description {
                        font-size: 13px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.31;
                        letter-spacing: 0.26px;
                        text-align: left;
                        color: #707070;
                    }
                }
                .select-item {
                    width: auto;
                    .list-class {
                        .class-item {
                            padding: 7px 0;
                            border-bottom: 1px solid #ccc;
                            cursor: pointer;
                            &:last-child {
                                border-bottom: 0;
                            }
                            &:hover {
                                background: #f6fafd;
                            }
                            &.active {
                                background: #f6fafd;
                            }
                            .class-item-title {
                                font-size: 14px;
                                font-weight: 600;
                                line-height: 1.43;
                                letter-spacing: 0.28px;
                                color: #000000;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            .class-item-description {
                                font-size: 13px;
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 1.31;
                                letter-spacing: 0.26px;
                                text-align: left;
                                color: #707070;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
            .filter-date {
                .form-group {
                    display: flex;
                    height: 100%;
                    .input-group {
                        height: 100%;
                        .select-date {
                            outline: none !important;
                            box-shadow: none !important;
                            height: 100%;
                            display: flex;
                            border-top: 0;
                            border-bottom: 0;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                            border-color: #cdd0d5 !important;
                        }
                    }
                }
            }
            .filter-range {
                height: 100%;
                display: flex;
                &-box {
                    display: flex;
                    align-items: center;
                    border-radius: 1.5px;
                    border: solid 0.5px #cdd0d5;
                    background-color: #ffffff;
                    padding: 12.5px 15px;
                    &-icon {
                        padding-right: 5px;
                        img {
                            max-width: 14px;
                        }
                    }
                }
                &-slider {
                    width: 400px;
                    position: absolute;
                }
            }
            .filter-select-class {
                width: 135px;
                border-radius: 1.5px;
                border: solid 0.5px #cdd0d5;
                background-color: #ffffff;
                position: relative;
                margin: 0 5px;
                padding: 0 5px;
                &-box {
                    display: block;
                    height: 100%;
                    .select-box {
                        height: 100%;
                    }
                }
                &.teacher {
                    width: 160px;
                }
            }
        }
    }
    .select-item-class {
        width: 220px;
        .popover-body {
            .list-class-item {
                cursor: pointer;
                padding: 8px 10px;
                background: #ffffff;
                border-bottom: 1px solid #ccc;
                font-weight: 500;
                &:last-child {
                    border-bottom: 0;
                }
            }
            .item-teacher {
                display: flex;
                align-items: center;
                .teacher-avatar {
                    img {
                        max-width: 30px;
                    }
                }
                .teacher-name {
                    padding-left: 10px;
                }
            }
        }
    }
    .select-range-time {
        width: 300px;
        .popover-body {
            padding: 16px 10px 45px;
        }
    }
}
.step-wrapper {
    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
.list-studio {
    height: 429px;
    // overflow-y: auto;
    th {
        font-family: ProximaNova;
        font-size: 13px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.54;
        letter-spacing: 0.26px;
        text-align: left;
        color: #707070;
        border-top: 0;
        border-bottom: 0 !important;
    }
    tbody {
        height: 390px;
        overflow-y: auto;
        tr {
            line-height: 2;
            background-color: #ffffff;
            cursor: pointer;
            &:first-child {
                border-top: 0;
            }
            &.full {
                cursor: not-allowed;
            }
        }
    }
    thead {
        border-top: 0;
        border-bottom: 0 !important;
    }
    .time-format {
        font-size: 13px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.54;
        letter-spacing: normal;
        text-align: left;
    }
    .class-name {
        font-size: 13px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.92;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
    }
    .price {
        font-size: 13px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.23;
        letter-spacing: normal;
        text-align: left;
        color: #ff7623;
    }
    .slot {
        border-radius: 3px;
        padding: 4px 13px;
        background-color: #69b557;
        font-size: 13px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.54;
        letter-spacing: normal;
        color: #ffffff;
        min-width: 63px;
        display: inline-block;
        text-align: center;
        &.full {
            background-color: #c45a61;
        }
    }
    .user {
        display: flex;
        align-items: center;
        &-avatar {
            img {
                max-width: 22.5px;
            }
        }
        &-name {
            padding-left: 3px;
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.54;
            letter-spacing: normal;
            text-align: left;
            color: #424242;
        }
    }
    .class-room {
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.54;
        letter-spacing: normal;
        text-align: left;
        color: #424242;
    }
    .note {
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.31;
        letter-spacing: normal;
        text-align: left;
        color: #464646;
    }
}
.table-scroll {
    display: block;
    empty-cells: show;
    border-spacing: 0;
}

.table-scroll thead {
    position: relative;
    display: block;
    width: 100%;
    overflow-y: scroll;
}

.table-scroll tbody {
    display: block;
    position: relative;
    width: 100%;
    overflow-y: scroll;
}

.table-scroll tr {
    width: 100%;
    display: flex;
}

.table-scroll td,
.table-scroll th {
    width: 100%;
    display: block;
    padding: .8rem 1rem;
    text-align: left;
}

.table-scroll th.h-hour, td.h-hour {
    width: 45%;
}
.table-scroll th.h-class, td.h-class {
    width: 50%;
}
.table-scroll th.h-fee, td.h-fee {
    width: 40%;
}
.table-scroll th.h-slot, td.h-slot {
    width: 50%;
}
.table-scroll th.h-teacher, td.h-teacher {
    width: 50%;
}
.table-scroll th.h-room, td.h-room {
    width: 40%;
}
/* Other options */

.table-scroll.small-first-col td:first-child,
.table-scroll.small-first-col th:first-child {
    flex-basis: 20%;
    flex-grow: 1;
}

