<div class="step-wrapper">
    <div class="step-header">
        <h4 class="step-title">1. Chọn lớp học</h4>
        <div class="step-current">{{ "Features.DemoSteps.Step" | translate }} 2/5</div>
    </div>
    <div class="step-body">
        <div class="filter">
            <div class="filter-class">
                <div class="filter-select">
                    <div class="select-box" [ngbPopover]="selectClass" placement="bottom" popoverClass="select-item">
                        <div class="select-box-content">
                            <div class="select-box-title">Studio 1</div>
                            <div class="select-box-description">150 Nguyen Thi Thap, Quan 7, TP. Ho Chi Minh</div>
                        </div>
                        <span class="select-box-arrow-down">
                            <fa-icon [icon]="icons?.arrowDown"></fa-icon>
                        </span>
                    </div>
                    <ng-template #selectClass>
                        <div class="list-class">
                            <div class="class-item">
                                <div class="class-item-title">Studio 1</div>
                                <div class="class-item-description">150 Nguyen Thi Thap, Q7</div>
                            </div>
                            <div class="class-item">
                                <div class="class-item-title">Studio 1</div>
                                <div class="class-item-description">150 Nguyen Thi Thap, Q7</div>
                            </div>
                            <div class="class-item">
                                <div class="class-item-title">Studio 1</div>
                                <div class="class-item-description">150 Nguyen Thi Thap, Q7</div>
                            </div>
                            <div class="class-item">
                                <div class="class-item-title">Studio 1</div>
                                <div class="class-item-description">150 Nguyen Thi Thap, Q7</div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="filter-date">
                <div class="go-date" (click)="goDate(false)">
                    <fa-icon [icon]="icons?.arrowLeft"></fa-icon>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input
                            class="form-control select-date"
                            placeholder="Chọn ngày học"
                            name="dp"
                            ngbDatepicker #d="ngbDatepicker"
                            (click)="d.toggle()"
                            container="body"
                            [value]="formatter.format(currentDate)"
                            (dateSelect)="changeDate($event)"
                        >
                        <div class="input-group-append">
                        </div>
                    </div>
                </div>
                <div class="go-date" (click)="goDate(true)">
                    <fa-icon [icon]="icons?.arrowRight"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</div>