<section id="banner">
    <div class="image-left"></div>
    <div class="image-right"></div>
    <div class="image-bottom"></div>
    <div class="head-info">
        <h2 class="sub">Ludiino</h2>
        <h1 class="title">Online Booking & Appointment
            Scheduling Features</h1>
        <p class="intro">Great features are packaged into a powerful online solution that creates competitive advantages for your business in the digital age </p>
        <button class="btn btn_bg-white btn-test-booking" (click)="openDemoPopup(demoPopupContent)">
            CREATE A TEST BOOKING
        </button>
    </div>
</section>

<section class="main-content">
    <div class="container">
        <div class="section free-website">
                <div class="info">
                    <div class="header">
                        <img src="assets/images/featuresp/fe_home.png" alt="fe home"/>
                        <h3>A Free Professional Website</h3>
                    </div>
                    <p>A free professionally design with SEO enabled website that makes your business stand out on the internet.</p>
                    <p>Google Map & Client Evaluation features are integrated to provide all the needed information for your client to pick out your services online</p>
                    <button class="btn btn_gradient-orange"  (click)="redirectToRegister('2')">
                        Register Now
                    </button>
                </div>
                <div class="image">
                    <img src="assets/images/featuresp/macbook.png" alt=""/>
                </div>
        </div>
        <div class="section online-booking">
            <div class="info">
                <div class="header">
                    <img src="assets/images/featuresp/fe_rocket.png" alt="online booking"/>
                    <h3>An Online Booking site that does business 24/7</h3>
                </div>
                <p>Your website not only displays information but also does business for you by accepting online booking & payment in real time 24/7. </p>
                <p>Client can go online whenever they want inside or outside of the regular business hours to select a suitable date & time, make payment, and instantly receive booking confirmation </p>
                <button class="btn btn_gradient-orange"  (click)="redirectToRegister('2')">
                    Register Now
                </button>
            </div>
            <div class="image">
                <img src="assets/images/featuresp/run-girl.png" alt=""/>
            </div>
        </div>
        <div class="section payment">
            <div class="info">
                <div class="header">
                    <img src="assets/images/featuresp/fe_card.png" alt="online offline payment"/>
                    <h3>Online and\or Offline Payment</h3>
                </div>
                <p>Easily set up flexible payment methods as online and\or offline. With online payment, clients can make payment via secured third party payment portals directly to your bank account thus let you focus on providing the best services without having to worry about managing bookings, payments, and cash</p>
                <div class="payment-methods">
                    <div class="method">
                        <img src="assets/images/icon/pay_online.png" alt="online pay" />
                        <h4>Online Payment</h4>
                    </div>
                    <div class="method">
                        <img src="assets/images/icon/pay_cash.png" alt="cash pay" />
                        <h4>Cash Payment</h4>
                    </div>
                    <div class="method">
                        <img src="assets/images/icon/pay_pos.png" alt="pos pay" />
                        <h4>POS Machine Support</h4>
                    </div>
                </div>
                <button class="btn btn_gradient-orange"  (click)="redirectToRegister('2')">
                    Register Now
                </button>
            </div>
            <div class="image">
                <img src="assets/images/featuresp/call-girl.png" alt=""/>
            </div>
        </div>
        <div class="section sheduling-management">
            <div class="info">
                <div class="header">
                    <img src="assets/images/featuresp/fe_calendar.png" alt="sheduling management"/>
                    <h3>Staff Scheduling Management</h3>
                </div>
                <p>Quick & easy to schedule working date\hour per staff as to well as assign them to pre-booking appointments. </p>
                <p>Customers can now book a preferred staff to provide their requested serivces. Readily available online report on staff working schedule, the number of services provided as well as client satifisfaction</p>
                <button class="btn btn_gradient-orange"  (click)="redirectToRegister('2')">
                    Register Now
                </button>
            </div>
            <div class="image">
                <img src="assets/images/featuresp/schedule.png" alt=""/>
            </div>
        </div>
    </div>
</section>

<section class="appointment">
    <div class="container">
        <h2 class="title">Our Online Appointment Scheduling Other Features</h2>
        <p class="intro">Lightweight yet loaded with features, Ludiino’s powerful platform gives you all the essential tools to grow your business.</p>
        <div class="row appointment-list">
            <div class="col-12 col-sm-4 article">
                <div class="image">
                    <img src="assets/images/featuresp/img1.jpg" alt="Integrate Booking with Social Network"/>
                </div>
                <h3 class="title">Integrate Booking with Social Network</h3>
                <p>Booking feature is integrated into your social networks like facebook and\or instagram for clients to conveniently  book via multiple online channels to help your business leverage on all digital channels to get new clients & ultmately more bookings</p>
            </div>
            <div class="col-12 col-sm-4 article">
                <div class="image">
                    <img src="assets/images/featuresp/img2.jpg" alt="CheckIn Checkout feature"/>
                </div>
                <h3 class="title">CheckIn\Checkout Features</h3>
                <p>Quickly checkin and\or checkout pre-booking customers by scaning booking code to signnificantly reduce unnessesary wait time and to spend more time taking care of your clients</p>
            </div>
            <div class="col-12 col-sm-4 article">
                <div class="image">
                    <img src="assets/images/featuresp/img3.jpg" alt="Online Marketing & Promotional Campaigns"/>
                </div>
                <h3 class="title">Online Marketing & Promotional Campaigns</h3>
                <p>Multiple ways to create various Promotional Marketing Campaigns with discount codes sent via email\sms directly to your targeted clients to attract new clients and keep old clients coming back for more.  <a class="more" href="#">More...</a></p>
            </div>
            <div class="col-12 col-sm-4 article">
                <div class="image">
                    <img src="assets/images/featuresp/img4.jpg" alt="Dashboard & Reports Features"/>
                </div>
                <h3 class="title">Dashboard & Reports Features</h3>
                <p>Real time online reporting about booking transactions, payments, and client satisfaction. Available KPIs dashboard with visualized charts & graphs that help owners quickly gauge business performances and what need  <a class="more" href="#">More...</a>.</p>
            </div>
            <div class="col-12 col-sm-4 article">
                <div class="image">
                    <img src="assets/images/featuresp/img5.jpg" alt="Auto Notification &Reminder"/>
                </div>
                <h3 class="title">Auto Notification & Reminder</h3>
                <p>The system automatically sends reminders to client about an upcoming appointments and\or notifications when a booking is made, changed, or canceled so you're always in control of your business without having to attend the phone all the times</p>
            </div>
            <div class="col-12 col-sm-4 article">
                <div class="image">
                    <img src="assets/images/featuresp/img6.jpg" alt="Booking Cancellation Features"/>
                </div>
                <h3 class="title">Booking Cancellation Features</h3>
                <p>Completely replace the hassles of making multiple phone calles with a few clicks to cancel\edit a booking online. A cancellation confirmation is automatically sent to both buyers & seller to finalize the transaction</p>
            </div>
        </div>
        <div class="action-bottom">
            <button class="btn btn_gradient-orange"  (click)="redirectToRegister('2')">
                Register Now
            </button>
        </div>
    </div>
</section>

<ng-template #demoPopupContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" *ngIf="currentDemoStep === 1">Step 1: Please select a service</h4>
        <h4 class="modal-title" *ngIf="currentDemoStep === 2">Step 2: Select date & technicians</h4>
        <h4 class="modal-title" *ngIf="currentDemoStep === 3">Step 3: Payment method</h4>
    </div>
    <div class="modal-body">
        <ng-container *ngIf="currentDemoStep === 1">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel >
                    <ng-template ngbPanelTitle>
                        <div class="step1-section hair-section ">Hair Service</div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="option">
                            <div class="left">
                                <div class="name">Hair Cut</div>
                                <div class="time">45 minutes</div>
                            </div>
                            <div class="right">80,000</div>
                        </div>
                        <div class="option">
                            <div class="left">
                                <div class="name">Hair Cut for Women 60 minutes</div>
                                <div class="time">60 minutes</div>
                            </div>
                            <div class="right">80,000</div>
                        </div>
                        <div class="option">
                            <div class="left">
                                <div class="name">Hair Dye</div>
                                <div class="time">20 minutes</div>
                            </div>
                            <div class="right">80,000</div>
                        </div>
                    </ng-template>
                </ngb-panel>
    
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <div class="step1-section skin-section ">Skin Care</div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="option">
                            <div class="left">
                                <div class="name">Hair Cut</div>
                                <div class="time">45 minutes</div>
                            </div>
                            <div class="right">80,000</div>
                        </div>
                        <div class="option">
                            <div class="left">
                                <div class="name">Hair Cut for Women 60 minutes</div>
                                <div class="time">60 minutes</div>
                            </div>
                            <div class="right">80,000</div>
                        </div>
                        <div class="option">
                            <div class="left">
                                <div class="name">Hair Dye</div>
                                <div class="time">20 minutes</div>
                            </div>
                            <div class="right">80,000</div>
                        </div>
                    </ng-template>
                </ngb-panel>
    
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <div class="step1-section nails-section ">Nails Care</div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="option">
                            <div class="left">
                                <div class="name">Hair Cut</div>
                                <div class="time">45 minutes</div>
                            </div>
                            <div class="right">80,000</div>
                        </div>
                        <div class="option">
                            <div class="left">
                                <div class="name">Hair Cut for Women 60 minutes</div>
                                <div class="time">60 minutes</div>
                            </div>
                            <div class="right">80,000</div>
                        </div>
                        <div class="option">
                            <div class="left">
                                <div class="name">Hair Dye</div>
                                <div class="time">20 minutes</div>
                            </div>
                            <div class="right">80,000</div>
                        </div>
                    </ng-template>
                </ngb-panel>
    
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <div class="step1-section makeup-section ">Make-up</div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="option">
                            <div class="left">
                                <div class="name">Hair Cut</div>
                                <div class="time">45 minutes</div>
                            </div>
                            <div class="right">80,000</div>
                        </div>
                        <div class="option">
                            <div class="left">
                                <div class="name">Hair Cut for Women 60 minutes</div>
                                <div class="time">60 minutes</div>
                            </div>
                            <div class="right">80,000</div>
                        </div>
                        <div class="option">
                            <div class="left">
                                <div class="name">Hair Dye</div>
                                <div class="time">20 minutes</div>
                            </div>
                            <div class="right">80,000</div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </ng-container>
        <ng-container *ngIf="currentDemoStep === 2">

        </ng-container>
        <ng-container *ngIf="currentDemoStep === 3">
            <div class="step3-wrapper">
                <div class="qr-info">
                    <div class="image">
                        <img src="assets/images/featuresp/qr.jpg" alt="qr"/>
                    </div>
                    <div class="info">
                        <h4>Booking ID</h4>
                        <h3 class="id">#730445</h3>
                    </div>
                </div>
                <div class="billing-info">
                    <div class="date">
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>
                    <div class="time">
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>
                    <div class="service-fee">
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>
                    <div class="total">
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>
                </div>
                <div class="payment-method">
                    <label class="radio-orange-container">Credit card
                        <input type="radio" checked="checked" name="radio">
                        <span class="checkmark"></span>
                    </label>
                    <label class="radio-orange-container">Internet Banking
                        <input type="radio" name="radio">
                        <span class="checkmark"></span>
                    </label>
                    <label class="radio-orange-container">Zalo Pay
                        <input type="radio" name="radio">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <button class="btn btn_gradient-orange">CONFIRM BOOKING</button>
            </div>
        </ng-container>

    </div>
</ng-template>