<section class="section-banner">
    <div class="image-left"></div>
    <div class="image-right"></div>
    <div class="image-bottom"></div>
    <div class="head-info">
        <h2 class="sub">Ludiino</h2>
        <h1 class="title">{{'Features.Title' | translate}}</h1>
        <p class="intro">{{'Features.Intro' | translate}}</p>
        <button class="btn btn_bg-white btn-test-booking" (click)="openDemoPopup(demoPopupContent)">
            {{'Features.CreateDemoBooking' | translate}}
        </button>
    </div>
</section>
<section class="main-content">
    <div class="container">
        <div class="section free-website">
                <div class="info">
                    <div class="header">
                        <img src="assets/images/featuresp/fe_home.png" alt="fe home"/>
                        <h3>{{'Features.MainContent.FreeWebsite.Title' | translate}}</h3>
                    </div>
                    <p [innerHTML]="'Features.MainContent.FreeWebsite.Info' | translate"></p>
                    <button class="btn btn_gradient-orange"  (click)="redirectToRegister('2')">
                        {{'Common.RegisterNow' | translate}}
                    </button>
                </div>
                <div class="image">
                    <img src="assets/images/featuresp/macbook.png" alt=""/>
                </div>
        </div>
        <div class="section online-booking">
            <div class="info">
                <div class="header">
                    <img src="assets/images/featuresp/fe_rocket.png" alt="online booking"/>
                    <h3>{{'Features.MainContent.OnlineBooking.Title' | translate}}</h3>
                </div>
                <p [innerHTML]="'Features.MainContent.OnlineBooking.Info' | translate"></p>
                <button class="btn btn_gradient-orange"  (click)="redirectToRegister('2')">
                    {{'Common.RegisterNow' | translate}}
                </button>
            </div>
            <div class="image">
                <img src="assets/images/featuresp/run-girl.png" alt=""/>
            </div>
        </div>
        <div class="section payment">
            <div class="info">
                <div class="header">
                    <img src="assets/images/featuresp/fe_card.png" alt="online offline payment"/>
                    <h3>{{'Features.MainContent.Payment.Title' | translate}}</h3>
                </div>
                <p [innerHTML]="'Features.MainContent.Payment.Info' | translate"></p>
                <div class="payment-methods">
                    <div class="method">
                        <img src="assets/images/icon/pay_online.png" alt="online pay" />
                        <h4>{{'Features.MainContent.Payment.OnlinePayment' | translate}}</h4>
                    </div>
                    <div class="method">
                        <img src="assets/images/icon/pay_cash.png" alt="cash pay" />
                        <h4>{{'Features.MainContent.Payment.CashPayment' | translate}}</h4>
                    </div>
                    <div class="method">
                        <img src="assets/images/icon/pay_pos.png" alt="pos pay" />
                        <h4>{{'Features.MainContent.Payment.POSMachineSupport' | translate}}</h4>
                    </div>
                </div>
                <button class="btn btn_gradient-orange"  (click)="redirectToRegister('2')">
                    {{'Common.RegisterNow' | translate}}
                </button>
            </div>
            <div class="image">
                <img src="assets/images/featuresp/call-girl.png" alt=""/>
            </div>
        </div>
        <div class="section sheduling-management">
            <div class="info">
                <div class="header">
                    <img src="assets/images/featuresp/fe_calendar.png" alt="sheduling management"/>
                    <h3>{{'Features.MainContent.ShedulingManagement.Title' | translate}}</h3>
                </div>
                <p [innerHTML]="'Features.MainContent.ShedulingManagement.Info' | translate"></p>
                <button class="btn btn_gradient-orange"  (click)="redirectToRegister('2')">
                    {{'Common.RegisterNow' | translate}}
                </button>
            </div>
            <div class="image">
                <img src="assets/images/featuresp/schedule.png" alt=""/>
            </div>
        </div>
    </div>
</section>

<section class="appointment">
    <div class="container">
        <h2 class="title">{{'Features.Appointment.Title' | translate}}</h2>
        <p class="intro" [innerHTML]="'Features.Appointment.Intro' | translate"></p>
        <div class="row appointment-list">
            <div class="col-12 col-sm-4 article">
                <div class="image">
                    <img src="assets/images/featuresp/img1.jpg" alt="Integrate Booking with Social Network"/>
                </div>
                <h3 class="title">{{'Features.Appointment.Integrate.Title' | translate}}</h3>
                <p [innerHTML]="'Features.Appointment.Integrate.Info' | translate"></p>
            </div>
            <div class="col-12 col-sm-4 article">
                <div class="image">
                    <img src="assets/images/featuresp/img2.jpg" alt="CheckIn Checkout feature"/>
                </div>
                <h3 class="title">{{'Features.Appointment.CheckInOut.Title' | translate}}</h3>
                <p [innerHTML]="'Features.Appointment.CheckInOut.Info' | translate"></p>
            </div>
            <div class="col-12 col-sm-4 article">
                <div class="image">
                    <img src="assets/images/featuresp/img3.jpg" alt="Online Marketing & Promotional Campaigns"/>
                </div>
                <h3 class="title">{{'Features.Appointment.Marketing.Title' | translate}}</h3>
                <p [innerHTML]="'Features.Appointment.Marketing.Info' | translate"></p>
            </div>
            <div class="col-12 col-sm-4 article">
                <div class="image">
                    <img src="assets/images/featuresp/img4.jpg" alt="Dashboard & Reports Features"/>
                </div>
                <h3 class="title">{{'Features.Appointment.Dashboard.Title' | translate}}</h3>
                <p [innerHTML]="'Features.Appointment.Dashboard.Info' | translate"></p>
            </div>
            <div class="col-12 col-sm-4 article">
                <div class="image">
                    <img src="assets/images/featuresp/img5.jpg" alt="Auto Notification &Reminder"/>
                </div>
                <h3 class="title">{{'Features.Appointment.Notifications.Title' | translate}}</h3>
                <p [innerHTML]="'Features.Appointment.Notifications.Info' | translate"></p>
            </div>
            <div class="col-12 col-sm-4 article">
                <div class="image">
                    <img src="assets/images/featuresp/img6.jpg" alt="Booking Cancellation Features"/>
                </div>
                <h3 class="title">{{'Features.Appointment.Cancellation.Title' | translate}}</h3>
                <p [innerHTML]="'Features.Appointment.Cancellation.Info' | translate"></p>
            </div>
        </div>
        <div class="action-bottom">
            <button class="btn btn_gradient-orange"  (click)="redirectToRegister('2')">
                {{'Common.RegisterNow' | translate}}
            </button>
        </div>
    </div>
</section>

<ng-template #demoPopupContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" *ngIf="currentDemoStep === 1">{{'Features.DemoSteps.Step1.Title' | translate}}</h4>
        <h4 class="modal-title" *ngIf="currentDemoStep === 2">
            <span class="back-step" (click)="goToStep(1)"></span>
            {{'Features.DemoSteps.Step2.Title' | translate}}</h4>
        <h4 class="modal-title" *ngIf="currentDemoStep === 3">
            <span class="back-step" (click)="goToStep(2)"></span>
            {{'Features.DemoSteps.Step3.Title' | translate}}</h4>
        <button type="button" class="close d-sm-none" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <ng-container *ngIf="currentDemoStep === 1">
            <ngb-accordion  [closeOthers]="true" activeIds="ngb-panel-0">
                <ngb-panel id="ngb-panel-0">
                    <ng-template ngbPanelTitle>
                        <div class="step1-section hair-section ">{{'Features.DemoSteps.Step1.HairService.Title' | translate}}</div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="option" (click)="goToStep(2, {name: 'Features.DemoSteps.Step1.HairService.HairCut', price: '80,000'})">
                            <div class="left">
                                <div class="name">{{'Features.DemoSteps.Step1.HairService.HairCut' | translate}}</div>
                                <div class="time">45 {{'Common.Minutes' | translate}}</div>
                            </div>
                            <div class="right">80,000</div>
                        </div>
                        <div class="option"  (click)="goToStep(2, {name: 'Features.DemoSteps.Step1.HairService.HairCutWomen', price: '140,000'})">
                            <div class="left">
                                <div class="name">{{'Features.DemoSteps.Step1.HairService.HairCutWomen' | translate}}</div>
                                <div class="time">60 {{'Common.Minutes' | translate}}</div>
                            </div>
                            <div class="right">140,000</div>
                        </div>
                        <div class="option"  (click)="goToStep(2, {name: 'Features.DemoSteps.Step1.HairService.HairDye', price: '450,000'})">
                            <div class="left">
                                <div class="name">{{'Features.DemoSteps.Step1.HairService.HairDye' | translate}}</div>
                                <div class="time">20 {{'Common.Minutes' | translate}}</div>
                            </div>
                            <div class="right">450,000</div>
                        </div>
                    </ng-template>
                </ngb-panel>
    
                <ngb-panel id="ngb-panel-1">
                    <ng-template ngbPanelTitle>
                        <div class="step1-section skin-section ">{{'Features.DemoSteps.Step1.SkinCare.Title' | translate}}</div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="option" (click)="goToStep(2, {name: 'Hair Cut', price: '80,000'})">
                            <div class="left">
                                <div class="name">Hair Cut</div>
                                <div class="time">45 minutes</div>
                            </div>
                            <div class="right">80,000</div>
                        </div>
                        <div class="option"  (click)="goToStep(2, {name: 'Hair Cut for Women 60 minutes', price: '140,000'})">
                            <div class="left">
                                <div class="name">Hair Cut for Women 60 minutes</div>
                                <div class="time">60 minutes</div>
                            </div>
                            <div class="right">140,000</div>
                        </div>
                        <div class="option"  (click)="goToStep(2, {name: 'Hair Dye', price: '450,000'})">
                            <div class="left">
                                <div class="name">Hair Dye</div>
                                <div class="time">20 minutes</div>
                            </div>
                            <div class="right">450,000</div>
                        </div>
                    </ng-template>
                </ngb-panel>
    
                <ngb-panel id="ngb-panel-2">
                    <ng-template ngbPanelTitle>
                        <div class="step1-section nails-section ">Nails Care</div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="option" (click)="goToStep(2, {name: 'Hair Cut', price: '80,000'})">
                            <div class="left">
                                <div class="name">Hair Cut</div>
                                <div class="time">45 minutes</div>
                            </div>
                            <div class="right">80,000</div>
                        </div>
                        <div class="option"  (click)="goToStep(2, {name: 'Hair Cut for Women 60 minutes', price: '140,000'})">
                            <div class="left">
                                <div class="name">Hair Cut for Women 60 minutes</div>
                                <div class="time">60 minutes</div>
                            </div>
                            <div class="right">140,000</div>
                        </div>
                        <div class="option"  (click)="goToStep(2, {name: 'Hair Dye', price: '450,000'})">
                            <div class="left">
                                <div class="name">Hair Dye</div>
                                <div class="time">20 minutes</div>
                            </div>
                            <div class="right">450,000</div>
                        </div>
                    </ng-template>
                </ngb-panel>
    
                <ngb-panel id="ngb-panel-3">
                    <ng-template ngbPanelTitle>
                        <div class="step1-section makeup-section ">Make-up</div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="option" (click)="goToStep(2, {name: 'Hair Cut', price: '80,000'})">
                            <div class="left">
                                <div class="name">Hair Cut</div>
                                <div class="time">45 minutes</div>
                            </div>
                            <div class="right">80,000</div>
                        </div>
                        <div class="option"  (click)="goToStep(2, {name: 'Hair Cut for Women 60 minutes', price: '140,000'})">
                            <div class="left">
                                <div class="name">Hair Cut for Women 60 minutes</div>
                                <div class="time">60 minutes</div>
                            </div>
                            <div class="right">140,000</div>
                        </div>
                        <div class="option"  (click)="goToStep(2, {name: 'Hair Dye', price: '450,000'})">
                            <div class="left">
                                <div class="name">Hair Dye</div>
                                <div class="time">20 minutes</div>
                            </div>
                            <div class="right">450,000</div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </ng-container>
        <ng-container *ngIf="currentDemoStep === 2">
            <div class="step2-wrapper">
                <div class="booking-date">
                    <a href="javascript:void(0)" (click)="goPrevDay()" class="prev"></a>
                   <div class="mid">
                        <div class="date-field"  (click)="d.toggle()">
                            {{ selectedDOW| translate }}, {{ selectDate.day }}.{{ selectDate.month }}.{{ selectDate.year }}
                        </div>
                        <input class="form-control" placeholder="yyyy-mm-dd"
                        name="dp" [(ngModel)]="selectDate" ngbDatepicker #d="ngbDatepicker">
                   </div>
                    <a href="javascript:void(0)" (click)="goNextDay()" class="next"></a>
                </div>    
                <div class="technicians">
                    <h3 class="title title_line_through"><span>{{'Features.DemoSteps.Step2.Technicians' | translate}}</span></h3>
                    <div class="technicians-list">
                        <div class="staff" [class.active]="demoUser.staffName === 'VICKY MY'" (click)="selectStaff('MY DIEM')" (click)="selectStaff('VICKY MY')">
                            <img src="assets/images/featuresp/girl_salon1.jpg"/>
                            <h4 class="name">VICKY MY</h4>
                            <p class="position">Senior</p>
                        </div>
                        <div class="staff" [class.active]="demoUser.staffName === 'MY DIEM'" (click)="selectStaff('MY DIEM')">
                            <img src="assets/images/featuresp/girl_salon2.jpg"/>
                            <h4 class="name">MY DIEM</h4>
                            <p class="position">Senior</p>
                        </div>
                        <div class="staff" [class.active]="demoUser.staffName === 'THUY DIEM'" (click)="selectStaff('THUY DIEM')">
                            <img src="assets/images/featuresp/girl_salon3.jpg"/>
                            <h4 class="name">THUY DIEM</h4>
                            <p class="position">Senior</p>
                        </div>
                        <div class="staff" [class.active]="demoUser.staffName === 'VAN ANH'" (click)="selectStaff('VAN ANH')">
                            <img src="assets/images/featuresp/girl_salon4.jpg"/>
                            <h4 class="name">VAN ANH</h4>
                            <p class="position">Senior</p>
                        </div>
                    </div>
                </div> 
                <div class="time-select">
                    <h3 class="title title_line_through"><span>{{'Features.DemoSteps.Step2.TimeSelect' | translate}}</span></h3>
                    <div class="time-blocks">
                        <div  class="time" *ngFor="let block of timeBlocks" (click)="goToStep(3, block)">
                            {{block}}
                        </div>
                    </div>
                </div>           
            </div>
        </ng-container>
        <ng-container *ngIf="currentDemoStep === 3">
            <div class="step3-wrapper">
                <div class="qr-info">
                    <div class="image">
                        <img src="assets/images/featuresp/qr.jpg" alt="qr"/>
                    </div>
                    <div class="info">
                        <h4 class="label">Booking ID</h4>
                        <h3 class="id">#730445</h3>
                    </div>
                </div>
                <div class="billing-info">
                    <div class="date">
                        <div class="left">{{'Common.Date' | translate}}</div>
                        <div class="right">{{selectedDOW | translate}}{{demoUser.date}}</div>
                    </div>
                    <div class="time">
                        <div class="left">{{'Common.Time' | translate}}</div>
                        <div class="right">{{demoUser.time}}</div>
                    </div>
                    <div class="service-fee">
                        <h4>Service FEE</h4>
                        <div class="haircut">
                            <span> {{demoUser.serviceName | translate}}	(Staff: {{demoUser.staffName | translate}})</span><span>{{demoUser.priceService}} đ</span>
                        </div>
                        <div class="surcharge">
                            <span>{{'Features.DemoSteps.Step3.Surcharge' | translate}}</span><span>0 đ</span>
                        </div>
                    </div>
                    <div class="total">
                        <div class="left">{{'Features.DemoSteps.Step3.Total' | translate}}</div>
                        <div class="right">{{demoUser.priceService}} đ</div>
                    </div>
                </div>
                <div class="booking-payment-method">
                    <label class="radio-orange-container">
                        <img src="assets/images/featuresp/card.png" alt="credit card" />
                        Credit card
                        <input type="radio" checked="checked" name="radio">
                        <span class="checkmark"></span>
                    </label>
                    <label class="radio-orange-container">
                        <img src="assets/images/featuresp/visa.png" alt="internet banking " />
                            Internet Banking
                        <input type="radio" name="radio">
                        <span class="checkmark"></span>
                    </label>
                    <label class="radio-orange-container">
                        <img src="assets/images/featuresp/zalo.png" alt="zalo pay" />
                            Zalo Pay
                        <input type="radio" name="radio">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <button class="btn btn_gradient-orange confirm-booking" (click)="modal.close('Confirm booking'); confirmBooking()">CONFIRM BOOKING</button>
            </div>
        </ng-container>

    </div>
</ng-template>