:host {
    background-color: #f6f7f9;
}
.section-banner {
    position: relative;
    height: calc(100vh - 70px);
    padding: 0;
    background-image: linear-gradient(to top, #f48d1e, #f49c1e);
    .image-left {
        position: absolute;
        left: -690px;
        width: 1280px;
        height: 100%;
        background-image: url(assets/images/featuresp/model.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 690px 100%;
    }
    .image-right {
        position: absolute;
        top: 50%;
        transform: translate3d(0,-50%,0);
        left: 589px;
        width: calc(100% - 608px);
        height: 646px;
        background-size: cover;
        background-position: 0 0;
        background-image: url(assets/images/featuresp/calendar-bg.png);
    }
    .image-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 121px;
        background-image: url(assets/images/featuresp/wave.png);
        background-size: cover;
        background-position: 0 0;
    }
    .head-info {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 60px;
        .sub {
            width: 290px;
            font-family: 'ProximaNova';
            font-size: 56px;
            font-weight: 900;
            line-height: 0.77;
            color: #fff;
            letter-spacing: 10.08px;
            text-align: left;
            text-transform: uppercase;
            margin: 0 0 15px 0;
        }
        .title {
            width: 450px;
            font-family: "ProximaNova";
            font-size: 26px;
            font-weight: bold;
            line-height: 1.19;
            color: #fff;
            letter-spacing: normal;
            text-align: left;
            margin: 0 0 38px 0;
            text-transform: uppercase;
        }
        .intro {
            width: 440px;
            font-family: 'ProximaNova';
            font-size: 17px;
            font-weight: 300;
            line-height: 1.35;
            color: #fff;
            letter-spacing: normal;
            text-align: left;
            margin:  0 0 22px 0;
        }
    }
}
.btn-test-booking {
    width: 279px;
    height: 53px;
    &:before {
        content: '';
        display: block;
        width: 18px;
        height: 27px;
        background-image: url(assets/images/icon/hand-orange.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        margin-right: 11px;
    }
}

.main-content {
    background-color: #f6f7f9;
    .container {
        .section {
            height: 395px;
            position: relative;
            display: flex;
            align-items: center;
            margin: 0 0 75px 0;
            .image {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: initial;
                position: absolute;
                top: 0;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
        .section:nth-of-type(2n+1) {
            justify-content: flex-start;
            .info {
                padding-left: 60px;
            }
            .image {
                right: -85px;
            }
        }
        .section:nth-of-type(2n) {
            justify-content: flex-end;
            .info {
                padding-right: 50px;
            }
            .image {
                left: -85px;
            }
        }
    }
    button {
        width: 218px;
    }
    .info {
      .header {
          display: flex;
          align-items: flex-end;
          height: 50px;
          margin:  0 0 30px 0;
            img {
                width: 48px;
                height: 52px;
                margin-right: 11px;
                object-position: 0 4px;
            }
            h3 {
                width: 370px;
                font-family: "ProximaNova";
                font-size: 26px;
                font-weight: bold;
                line-height: 1.12;
                letter-spacing: normal;
                text-align: left;
                color: #000000;
                margin: 0;
            }
        }
        p {
            width: 493px;
            opacity: 0.8;
            font-family: 'ProximaNova';
            font-size: 16px;
            font-weight: 300;
            line-height: 1.38;
            letter-spacing: normal;
            text-align: left;
            color: rgba(0, 0, 0, 0.8);
        }
    }
}

.payment-methods {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 40px 0;
    .method {
        display: flex;
        &:not(:nth-last-of-type(1)) {
            margin-right: 25px;
            border-right: 0.5px solid rgba(0, 0, 0, 0.5);
        }
        img {
            margin-right: 10px;
        }
        h4 {
            opacity: 0.9;
            font-family: "ProximaNova";
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.07;
            letter-spacing: normal;
            text-align: left;
            color: rgba(0, 0, 0, 0.9);
            width: 83px;
        }
    }
}

section.appointment {
    min-height: 365px;
    background-image: linear-gradient(to top, #30425a, #2e3a4a);
    padding: 80px 0;
    &:after {
        content: '';
        display: block;
        padding: 0;
        height: 821px;
        background-image: url(assets/images/featuresp/appointment-bg.png);
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -850px;    
    }
    .container {
        & > .title {
            font-family: 'ProximaNova';
            font-size: 36px;
            font-weight: bold;
            line-height: 0.94;
            letter-spacing: normal;
            text-align: center;
            color: #fff;
            margin: 0 0 13px 0;
        }
        & > .intro {
            font-family: 'ProximaNova';
            font-size: 18px;
            font-weight: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: rgba(255, 255, 255, 0.5);
            margin: 0 0 48px 0;
            &:after {
                content: "";
                display: block;
                height: 1px;
                width: 122px;
                opacity: 0.7;
                background-color: #fff;
                margin: 20px auto 0;
            }
        }
        .action-bottom {
            text-align: center;
            button {
                width: 218px;
            }
        }
    }
}
.appointment-list {
    margin-right: -21px;
    margin-left: -21px;
    & > [class^=col-] {
        padding-left: 21px;
        padding-right: 21px;
        margin-bottom: 56px;
    }
    .article {
        .image {
            margin: 0 0 17px 0;
            img {
                object-fit: cover;
                width: 100%;
                height: 210px;
            }
        }
        .title {
            max-width: 240px;
            height: 48px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: 'ProximaNova';
            font-size: 22px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.23;
            letter-spacing: normal;
            text-align: left;
            color: #f49c1e;
            margin:  0 0 18px 0;
        }
        p {
            font-family: 'ProximaNova';
            font-size: 16px;
            font-weight: 300;
            line-height: 1.25;
            letter-spacing: normal;
            text-align: left;
            color: #fff;
            padding: 0 20px 0 0;
            .more {
                color: #f68e56;
            }
        }
    }
}

::ng-deep .demo-booking-popup {
    .modal-dialog  {
        max-width: 630px;
    }
    .modal-content {
        min-height: 607px;
        border-radius: 3px;
        box-shadow: 0px -5px 8px 0 rgba(0, 0, 0, 0.05);
        border: solid 1px rgba(255, 255, 255, 0.3);
        background-color: #272d36;
    }
    .modal-header {
        height: 50px;
        border-bottom: 1px solid rgba(255,255,255,0.3);
        padding: 6px 24px;
        display: flex;
        align-items: center;
    }
    .modal-title {
        font-family: 'ProximaNova';
        font-size: 17px;
        font-weight: normal;
        letter-spacing: normal;
        text-align: left;
        color: rgba(255, 255, 255, 0.7);
    }
    .modal-body {
        padding: 46px 84px 30px 84px;
    }
    .accordion > .card {
        margin-bottom: 5px;
        border-radius: 2px;
        background: #fff;
        .card-header {
            height: 60px;
            border: 0;
            margin: 0;
            padding: 0;
            box-shadow: 0px 4px 7px 0 rgba(0, 0, 0, 0.04);
            position: relative;
            z-index: 2;
            button {
                font-family: 'ProximaNova';
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 6px 40px 6px 18px;
                text-decoration: none;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.69;
                letter-spacing: normal;
                text-align: left;
                background: none;
                color: #f18c0e;
            }
        }
    }
    .collapse {
        background-color: #f6f7f9;
        .card-body {
            padding: 5px 40px 4px 55px;
        }
    }
    .option {
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'ProximaNova';
        font-size: 14px;
        font-weight: 300;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: left;
        color: #707070;
        cursor: pointer;
        &:not(:nth-last-of-type(1)) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        }
        .name {
            font-weight: 600;
            color: #000;
        }
        .right {
            text-align: right;
            color: #f18c0e;
        }
    }
    .step1-section {
        display: flex;
        align-items: center;
        &:before {
            content: '';
            display: block;
            margin: 0 10px 0 0;
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        &.hair-section {
            &:before {
                width: 25px;
                height: 25px;
                background-image: url(assets/images/featuresp/hair.png);
            }
        }
        &.skin-section {
            &:before {
                width: 25px;
                height: 25px;
                background-image: url(assets/images/featuresp/skin.png);
            }
        }
        &.nails-section {
            &:before {
                width: 25px;
                height: 14px;
                background-image: url(assets/images/featuresp/nails.png);
            }
        }
        &.makeup-section {
            &:before {
                width: 25px;
                height: 25px;
                background-image: url(assets/images/featuresp/make.png);
            }
        }
    }
}

.step2-wrapper {
    .booking-date {
        background-color: #fff;
        position: relative;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 20px 0;
        .date-field {
            display: flex;
            justify-content: center;
            cursor: pointer;
            &:before {
                content: '';
                display: block;
                height: 16px;
                width: 16px;
                background-size: 100% 100%;
                background-image: url(assets/images/featuresp/calendar.png);
                margin: 0 4px 0 0;
            }
        }
        input {
            opacity: 0;
            padding: 0;
            height: 0;
            width: 200px;
        };
        .prev, .next {
            display: flex;
            width: 50px;
            height: 100%;
            align-items: center;
            justify-content: center;
            background-size: 7px 12px;
            background-position: center center;
            background-repeat: no-repeat;
        }
        .prev {
            background-image: url(assets/images/icon/arrow_left.png);
        }
        .next {
            background-image: url(assets/images/icon/arrow_right.png);
        }
    }
    .technicians {
        padding: 30px 10px 10px;
        margin: 0 0 20px 0;
        border-radius: 2px;
        background-color: rgba(0, 0, 0, 0.2);
        .title {
            span {
                margin: 0 30px 0;
            }
        }
        .technicians-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .staff {
                padding: 14px 20px 0;
                cursor: pointer;
                img{
                    width: 65px;
                    height: 65px;
                    object-fit: contain;
                    border-radius: 50%;
                    margin: 0 0 10px 0;
                }
                .name {
                    font-family: 'SanFranciscoText', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 0.82;
                    letter-spacing: normal;
                    text-align: center;
                    color: #f39a00;
                    margin: 0 0 5px 0;
                }
                .position {
                    font-family: 'SanFranciscoText', sans-serif;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 0.96;
                    text-align: center;
                    color: rgba(255, 255, 255, 0.4);
                }
                &:hover, &.active {
                    background: #191e25;
                    .name {
                        color: #f68e56;
                    }
                }
            }
        }
    }
    .time-select {
        padding: 30px 10px 10px;
        border-radius: 2px;
        background-color: rgba(0, 0, 0, 0.2);
        .title {
            span {
                margin: 0 15px 0;
            }
        }
        .time-blocks {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0 0 0 10px;
            .time {
                width: 85px;
                height: 35px;
                border-radius: 2px;
                background: rgba(255,255,255,0.2);
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 10px 10px 0;
                font-family: 'SanFranciscoText', sans-serif;
                font-size: 14px;
                color: rgba(255, 255, 255, 0.6);
                cursor: pointer;
            }
        }
    }
}

.step3-wrapper {
    .qr-info {
        display: flex;
        align-items: center;
        margin: 0 0 20px 0;
        .image {
            width: 68px;
            height: 68px;
            object-fit: contain;
            margin: 0 15px 0 0;
        }
        .label {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 13px;
            font-weight: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: rgba(255, 255, 255, 0.7);
            margin: 0 0 4px 0;
        }
        .id {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 33px;
            font-weight: 900;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #fff;
            margin: 0;
        }
        
    }
    .billing-info {
        min-height: 239px;
        border-radius: 1.5px;
        border: solid 0.5px #b7b7b7;
        background-color: #fff;
        padding: 6px 22px 0;
        margin: 0 0 28px 0;
        font-size: 14px;
        .date, .time {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 14px;
            font-weight: normal;
            display: flex;
            justify-content: space-between;
            padding: 14px 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            .left {
                color: rgba(0, 0, 0, 0.6);
                display: flex;
                align-items: center;
                &::before {
                    content: '';
                    display: block;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    margin-right: 9px;
                }
            }
            .right {
                font-weight: bold;
                text-align: left;
                color: #ff9907;
            }
        }
        .date {
            .left:before {
                width: 13px;
                height: 13px;
                background-image: url(assets/images/featuresp/ic-date.png);
            }
        }
        .time {
            .left:before {
                width: 15px;
                height: 15px;
                background-image: url(assets/images/featuresp/ic-time.png);
            }
        }
        .service-fee {
            padding: 17px 0 13px;
            font-family: 'SanFranciscoText', sans-serif;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            h4 {
                font-weight: 600;
                line-height: 1.05;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.9);
                margin: 0 0 22px 0;
            }
            .haircut, .surcharge {
                font-weight: normal;
                line-height: 1.05;
                text-align: left;
                color: rgba(0, 0, 0, 0.9);
                display: flex;
                justify-content: space-between;
            }
            .haircut {
                margin: 0 0 12px 0;
            }
        }
        .total {
            font-family: "SanFranciscoText", sans-serif;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            line-height: 1.05;
            color: rgba(0, 0, 0, 0.9);
            padding: 14px 0;
            .right {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                text-align: left;
                color: #ff9907;
            }
        }
    }
    .booking-payment-method {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: normal;
        text-align: left;
        color: rgba(255, 255, 255, 0.88);
        display: flex;
        flex-direction: column;
        margin: 0 0 20px 0;
        img {
            margin: 0 7px 0 0;
        }
    }
    .confirm-booking {
        width: 100%;
        height: 40px;
        font-size: 16px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 1199.98px) { 
    .section-banner {
        .head-info {
            .sub {
                font-size: 52px;
            }
            .title {
                width: 300px;
                font-size: 18px;
                margin: 0 0 15px 0;
            }
            .intro {               
                width: 300px;
                font-size: 13px;
            }
        }
        .image-right {
            left: 382px;
            right: 20px;
            width: 600px;
        }
    }
    .main-content {
        .container {
            .section:nth-of-type(2n+1) {
                .info {
                    padding-left: 0;
                }
                .image {
                    right: -20px;
                }
            }
            .section:nth-of-type(2n) {
                .info {
                    padding-right: 0;
                }
                .image {
                    left: -20px;
                }
            }
        }
        .info {
            width: 50%;
            padding-left: 0;
            .header h3, p {
                width: 100%;
            }
        }
        .image{
            width: 50%;
            height: 100%;
        }
    }
    .payment-methods  {
        .method {
            align-items: center;
            img {
                width: 20px;
            }
            h4 {
                width: 70px;
            }
        }
        .method:not(:nth-last-of-type(1)) {
            margin-right: 15px;
        }
    }
}

// small devices
@media only screen and (max-width: 767.98px) { 
    .section-banner {
        min-height: 520px;
        height: auto;
        .head-info {
            padding: 40px 20px 20px;
            justify-content: flex-start;
            .sub {
                font-size: 30px;
                margin: 0 0 5px 0;
            }
            .title {
                width: 100%;
                font-size: 18px;
                margin: 0 0 5px 0;
            }
            .intro {               
                width: 100%;
                font-size: 13px;
                margin: 0 0 10px 0;
            }
        }
        .image-right {
            top: 260px;
            right: 0;
            left: 50%;
            transform: translate3d(-50%, 0,0);

            z-index: 85;
            width: 300px;
            height: 302px;
        }
        .image-bottom {
            bottom: -1px;
        }
    }
    .main-content {
        button {
            margin: 5px auto 20px;
            display: block;
        }
        .container {
            .section {
                height: auto;
                flex-direction: column;
                margin: 0 0 30px 0;
                .image {
                    position: static;
                }
            }
            .section:nth-of-type(2n+1) {
                .info {
                    padding-left: 0;
                }
            }
            .section:nth-of-type(2n) {
                .info {
                    padding-right: 0;
                }
            }
        }
        .info {
            width: 100%;
            padding-left: 0;
            .header h3, p {
                width: 100%;
            }
            .header {
                margin: 0 0 5px 0;
                h3 {
                    font-size: 20px;
                }
            }
        }
        .image{
            width: 100%;
        }
    }
    .btn-test-booking {
        align-self: center;
    }
    .payment-methods  {
        .method {
            align-items: center;
            img {
                width: 20px;
            }
            h4 {
                width: 70px;
            }
        }
        .method:not(:nth-last-of-type(1)) {
            margin-right: 15px;
        }
    }
    section.appointment {
        padding: 50px 0;
        .container {
            .title {
                font-size: 20px;
                max-width: 100%;
                max-height: 48px;
                height: auto;
                margin: 0 0 5px 0;
            }
            .intro {
                font-size: 13px;
            }
        }

    }
    .appointment-list {
        & > [class^=col-] {
            margin-bottom: 30px;
        }
    }
}