.yoga-booking {
    .main-steps {
        .step-wrapper {
            padding: 0;
            .step-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 7px;
                border-bottom: 1px solid #d7d7d7;
                padding: 15px 20px 15px;
                .step-title {
                    font-family: "ProximaNova";
                    font-size: 16px;
                    font-weight: 800;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.25;
                    letter-spacing: 0.32px;
                    text-align: left;
                    color: #111111;
                    text-transform: uppercase;
                    margin: 0;
                }
                .step-current {
                    font-family: ProximaNova;
                    font-size: 13px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.54;
                    letter-spacing: 0.26px;
                    text-align: left;
                    color: rgba(0, 0, 0, 0.6);
                }
                .back-step-2 {
                    width: 25px;
                    height: 10px;
                    background-size: 100% 100%;
                    background-position: center center;
                    background-repeat: no-repeat;
                    display: inline-flex;
                    margin: 0 10px 0 0;
                    background-image: url('assets/images/homep/arrow_left_step.png');
                    background-size: cover;
                    cursor: pointer;
                }
            }
            .step-body {
                padding: 0 0 0 10px;
                .field-label {
                    font-family: ProximaNova;
                    font-size: 13px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.38;
                    letter-spacing: 0.26px;
                    text-align: left;
                    color: rgba(0, 0, 0, 0.7);
                }
            }
        }
    }
    .select-box {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 5px 12px;
        .select-box-content {
            overflow: hidden;
            .select-box-title,
            .select-box-description {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    .filter {
        display: flex;
        .filter-date {
            display: flex;
            align-items: center;
            background-color: #f3f3f3;
            margin: 0 5px;
            padding: 0 5px;
            border: solid 1px #cdd0d5;
            overflow: hidden;
            max-width: 200px;
            .go-date {
                font-size: 17px;
                padding: 3px 5px 3px 8px;
                background: #f5f6f7;
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
            }
            .form-group {
                margin-bottom: 0;
            }
        }
    }
    .billing-info {
        min-height: 100px;
        border-radius: 1.5px;
        padding: 10px 0;
        margin: 0;
        font-size: 14px;
        .date, .time {
            font-family: "ProximaNova";
            font-size: 14px;
            font-weight: normal;
            display: flex;
            justify-content: space-between;
            padding: 0 15px;
            .left {
                color: rgba(0, 0, 0, 0.6);
                display: flex;
                align-items: center;
                font-size: 13px;
                line-height: 1.92;
                letter-spacing: 0.26px;
                text-align: left;
            }
            .right {
                font-weight: bold;
                text-align: left;
                font-size: 13px;
                font-weight: 600;
                line-height: 1.92;
                letter-spacing: 0.26px;
                text-align: right;
                color: #ff7623;
            }
        }
        .time {
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(215, 215, 215, 0.5);
        }
        .service-fee {
            padding: 12px 15px 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: 'ProximaNova';
            border-bottom: 1px solid rgba(215, 215, 215, 0.5);
            h4 {
                font-size: 13px;
                line-height: 1.05;
                color: rgba(0, 0, 0, 0.5);
                margin: 0 0 4px 0;
            }
            .haircut, .number-people {
                font-weight: normal;
                line-height: 1.05;
                text-align: left;
                color: rgba(0, 0, 0, 0.9);
                display: flex;
                justify-content: space-between;
            }
            .haircut {
                margin: 0 0 12px 0;
            }
            &-type {
                font-size: 13px;
                font-weight: normal;
                line-height: 1.69;
                letter-spacing: 0.26px;
                color: #959595;
            }
            &-value {
                font-family: ProximaNova;
                font-size: 14px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.64;
                letter-spacing: 0.07px;
                text-align: left;
                color: #000000;
                margin-bottom: 0;
            }
        }
        .total {
            font-family: 'ProximaNova';
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            line-height: 1.05;
            color: rgba(0, 0, 0, 0.9);
            padding: 10px 0;
            border-bottom: 1px solid rgba(215, 215, 215, 0.5);
            .right {
                font-family: 'ProximaNova';
                font-weight: bold;
                text-align: left;
                color: #ff9907;
            }
        }
        .total-sub {
            font-family: ProximaNova;
            font-weight: 600;
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 15px 10px;
            border-bottom: 1px solid rgba(215, 215, 215, 0.5);
            .left {
                font-size: 13px;
                line-height: 1.92;
                letter-spacing: 0.26px;
                text-align: left;
            }
            .right {
                font-size: 14px;
                line-height: 1.64;
                letter-spacing: 0.07px;
                text-align: right;
            }
            &.discount {
                font-family: ProximaNova;
                font-size: 13px;
                line-height: 1.77;
                letter-spacing: 0.26px;
                text-align: left;
                color: #4d4d4d;
                .right {
                    font-size: 13px;
                }
            }
        }
    }
    .step-input {
        width: 100%;
        height: 45px;
        border-radius: 3px;
        box-shadow: 0px 3.5px 10.5px 0 rgba(0, 0, 0, 0.05);
        border: 0;
        background-color: #fff;
        padding: 0 10px;
        text-align: left;
        outline: none;
        &-number {
            padding: 0 102px 0 30px;
            padding-right: 58%;
            text-align: right;
        }
    }
    .field-input {
        position: relative;
        font-family: "ProximaNova";
        font-size: 14px;
        font-weight: normal;
        color: #000;
        outline: none;
        margin: 0 0 16px 0;
        .step-input-btn {
            position: absolute;
            top: 8px;
            border: 0;
            outline: 0;
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            &.dec {
                left: 5px;
            }
            &.inc {
                right: 5px;
            }
        }
        span {
            position: absolute;
            top: 12px;
            left: 45%;
        }
        .text-danger {
            padding: 3px 0 0 0;
        }
    }
    .booking-payment-method {
        font-family: 'ProximaNova';
        font-weight: normal;
        text-align: left;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0 15px;
        img {
            margin: 0 7px 0 0;
        }
    }
    .promotion {
        background-image: url(assets/images/homep/ribbon.png);
        background-size: 100% 100%;
        width: 50px;
        height: 21px;
        text-align: center;
        color: #fff;
        margin-left: 5px;
    }
    .payment-yoga {
        display: flex;
        align-items: stretch;
        &-information {
            width: 100%;
            padding: 30px 25px;
        }
        &-bill {
            width: 100%;
            background: #fff;
            display: flex;
            flex-direction: column;
            padding: 20px 0;
            .radio-orange-container {
                margin-bottom: 5px;
                .checkmark {
                    background: #fff;
                    border: 2px solid #ff7623;
                    &:after {
                        top: 0.2px;
                        left: 0.23px;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background: #ff7623;
                        border: 2px solid #fff;
                    }
                }
            }
            .submit-booking {
                padding: 10px 15px 0;
                &-button {
                    border-radius: 3px;
                    background-color: #f49c1e;
                    text-align: center;
                    padding: 15px 20px;
                    font-family: ProximaNova;
                    font-size: 15px;
                    font-weight: bold;
                    line-height: 1.33;
                    letter-spacing: 0.3px;
                    color: #ffffff;
                    cursor: pointer;
                }
            }
        }
    }
}

