<div class="row m-0">
    <div class="package-list">
        <h3 class="manage-title col-12">Gói dịch vụ</h3>
        <br>
        <div class="manage-list col-12">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-xs-12 package-item-raw">
                    <div class="package-item">
                        <div class="package-title">Starter</div>
                        <div class="package-description">
                            Đây là gói trải nghiệm hoàn toàn miễn phí. Giúp các doanh nghiệp làm quen với hệ thống Booking Online
                        </div>
                        <div class="package-detail">
                            <div class="package-detail-item">
                                <label class="package-detail-item-label">
                                    Phí dịch vụ
                                </label>
                                <span class="package-detail-item-content free">
                                    Miễn phí
                                </span>
                            </div>
                            <div class="package-detail-item">
                                <label class="package-detail-item-label">
                                    Số lượng booking
                                </label>
                                <span class="package-detail-item-content">
                                    10 lượt / tháng
                                </span>
                            </div>
                            <div class="package-detail-item">
                                <label class="package-detail-item-label">
                                    Thời hạn sử dụng
                                </label>
                                <span class="package-detail-item-content">
                                    Không giới hạn
                                </span>
                            </div>
                            <div class="package-detail-item">
                                <label class="package-detail-item-label">
                                    Số lượt gia hạn
                                </label>
                                <span class="package-detail-item-content">
                                    3 lượt
                                </span>
                            </div>
                        </div>
                        <div class="package-link-detail">
                            <a><span>Chi tiết</span><span><i class="dripicons-arrow-thin-right"></i></span></a>
                        </div>
                        <div class="package-option">
                            <div class="option-dot">
                                <i class="dripicons-dots-3"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-xs-12 package-item-raw">
                    <div class="package-item">
                        <div class="package-title">Basic</div>
                        <div class="package-description">
                            Đây là gói trải nghiệm hoàn toàn miễn phí. Giúp các doanh nghiệp làm quen với hệ thống Booking Online
                        </div>
                        <div class="package-detail">
                            <div class="package-detail-item">
                                <label class="package-detail-item-label">
                                    Phí dịch vụ
                                </label>
                                <span class="package-detail-item-content free">
                                    350,000 đ
                                </span>
                            </div>
                            <div class="package-detail-item">
                                <label class="package-detail-item-label">
                                    Số lượng booking
                                </label>
                                <span class="package-detail-item-content">
                                    Không giới hạn
                                </span>
                            </div>
                            <div class="package-detail-item">
                                <label class="package-detail-item-label">
                                    Thời hạn sử dụng
                                </label>
                                <span class="package-detail-item-content">
                                    Theo gói đăng ký
                                </span>
                            </div>
                            <div class="package-detail-item">
                                <label class="package-detail-item-label">
                                    Số lượt gia hạn
                                </label>
                                <span class="package-detail-item-content">
                                    Không giới hạn
                                </span>
                            </div>
                        </div>
                        <div class="package-link-detail">
                            <a><span>Chi tiết</span><span><i class="dripicons-arrow-thin-right"></i></span></a>
                        </div>
                        <div class="package-option">
                            <div class="option-dot">
                                <i class="dripicons-dots-3"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-xs-12 package-item-raw">
                    <div class="block-starter">
                        <div class="icon-starter">
                            <i class="dripicons-plus"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>