<!-- Nav Start -->
<nav
    class="navbar navbar-expand-lg navbar-light theme-nav fixed-top"
    [class.darkHeader]="darkHeader"
>
    <div class="container">
        <a
            class="navbar-brand"
            href="/home"
        >
            <img
                class="nav_logo"
                src="assets/images/logo.png"
                alt="logo"
            >
        </a>
        <div class="btn_header_mb">
            <a
                href="javascript:void(0)"
                class="flag_menu navbar-light"
                (click)="changeLang('vi')"
                *ngIf="currentLang === 'en'"
            >
                <img src="assets/images/flag_vi.png" alt> VI
            </a>
            <a
                href="javascript:void(0)"
                class="flag_menu navbar-light"
                (click)="changeLang('en')"
                *ngIf="currentLang === 'vi'"
            >
                <img src="assets/images/flag_en.png" alt> EN
            </a>
        </div>
        <button
            class="mobile-menu navbar-toggler"
            [class.active]="stateMenuInMobile.openMenu"
            type="button"
            aria-label="Toggle navigation"
            (click)="toggleMobileMenu()"
        >
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </button>

        <div
            [ngbCollapse]="!stateMenuInMobile.openMenu"  
            id="navbarSupportedContent"  class="navbar-collapse default-nav"
            [ngClass]="{ 'show': stateMenuInMobile.openMenu }"
        >
            <ul
                class="navbar-nav"
            >
                <li class="nav-item">
                    <a
                        class="nav-link"
                        [routerLink]="'/features'"
                        [pageScrollOffset]="80"
                        pageScroll
                    >
                        {{'Home.HeaderMenu.Feature'|translate}}
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        [routerLink]="'/pricing'"
                        [pageScrollOffset]="80"
                        pageScroll
                    >
                        {{'Home.HeaderMenu.Pricing'|translate}}
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="https://blog.ludiino.com/"
                        [pageScrollOffset]="80"
                        pageScroll
                    >
                        BLOG
                    </a>
                </li>
                <li class="nav-item">
                    <span class="button-action">
                        <a href="javascript:void(0)" (click)="RedirectToLogin()" class="btn_login">
                            {{'Shared.Register_Label'|translate}}
                        </a>
                        <a href="javascript:void(0)" (click)="RedirectToLogin()" class="btn_login">
                            {{'Shared.Login_Register'|translate}}
                        </a>
                    </span>
                </li>
            </ul>
            <div class="btn_header">
                <a href="javascript:void(0)" (click)="goToRegister()"
                    class="btn_login"
                >
                    {{'Shared.Register_Label'|translate}}
                </a>
                <a href="javascript:void(0)" (click)="RedirectToLogin()"
                    class="btn_login"
                >
                    {{'Shared.Login_Register'|translate}}
                </a>
                <a
                    href="javascript:void(0)"
                    class="flag_menu navbar-light"
                    (click)="changeLang('vi')"
                    *ngIf="currentLang === 'en'"
                >
                    <img
                        src="assets/images/flag_vi.png"
                        alt
                    >
                    VI
                </a>
                <a
                    href="javascript:void(0)"
                    class="flag_menu navbar-light"
                    (click)="changeLang('en')"
                    *ngIf="currentLang === 'vi'"
                >
                    <img
                        src="assets/images/flag_en.png"
                        alt
                    >
                    EN
                </a>
            </div>
        </div>
    </div>
</nav>
<!-- Nav end -->
