<!-- Nav Start -->
<nav
    class="navbar navbar-expand-lg navbar-light theme-nav fixed-top"
    [class.darkHeader]="darkHeader"
>
    <div class="container">
        <!-- start modal -->
        <!-- <ng-template
            #content
            let-modal
        >
            <div class="modal-body modal_body_signin">
                <button
                    type="button "
                    class="close"
                    aria-label="Close "
                    (click)="modal.dismiss( 'Cross click') "
                >
                    <span aria-hidden="true ">&times;</span>
                </button>
                <app-sign-in (closeChildModal)="ShowBackModalLogin($event)"></app-sign-in>
            </div>
           
        </ng-template> -->

        <!-- end modal -->
        <a
            class="navbar-brand"
        >
            <img
                class="nav_logo"
                src="assets/images/logo.png"
                alt="logo"
            >
        </a>
        <div class="btn_header_mb">
            <a href="javascript:void(0)" (click)="RedirectToLogin()"
                class="btn_login"
                
            >
                Login
            </a>
            <a
                href="javascript:void(0)"
                class="flag_menu navbar-light"
                (click)="changeLang('vi')"
                *ngIf="currentLang === 'en'"
            >
                <img src="assets/images/flag_en.png" alt> EN
            </a>
            <a
                href="javascript:void(0)"
                class="flag_menu navbar-light"
                (click)="changeLang('en')"
                *ngIf="currentLang === 'vi'"
            >
                <img src="assets/images/flag_vi.png" alt> VI
            </a>
        </div>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div
            class="collapse navbar-collapse default-nav"
            id="navbarSupportedContent"
        >
            <ul
                class="navbar-nav"
                id="mymenu"
            >
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="#home"
                        [pageScrollOffset]="80"
                        pageScroll
                    >
                        <i
                            class="fa fa-home"
                            aria-hidden="true"
                        ></i>
                        {{ "Home.Title" | translate }}
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="#feature_lud"
                        [pageScrollOffset]="80"
                        pageScroll
                    >
                        {{'Home.Header1'|translate}}
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="http://45.77.250.47:83"
                        [pageScrollOffset]="80"
                        pageScroll
                    >
                        BLOG
                    </a>
                </li>
            </ul>
            <div class="btn_header">
                <a href="javascript:void(0)" (click)="RedirectToLogin()"
                    class="btn_login"
                >
                    {{'Shared.Login_Register'|translate}}
                </a>
                <a
                    href="javascript:void(0)"
                    class="flag_menu navbar-light"
                    (click)="changeLang('vi')"
                    *ngIf="currentLang === 'en'"
                >
                    <img
                        src="assets/images/flag_en.png"
                        alt
                    >
                    VI
                </a>
                <a
                    href="javascript:void(0)"
                    class="flag_menu navbar-light"
                    (click)="changeLang('en')"
                    *ngIf="currentLang === 'vi'"
                >
                    <img
                        src="assets/images/flag_vi.png"
                        alt
                    >
                    EN
                </a>
            </div>
        </div>
    </div>
</nav>
<!-- Nav end -->
