<!--Home Section start-->
<section id="home" class="home home-two vertical-scrolling">
    <!-- <div class="about-decor">
    <div class="about-circle1"><img src="assets/images/team1.png" alt="team1"></div>
    <div class="about-circle2"><img src="assets/images/main-banner1.png" alt="banner1"></div>
  </div> -->
    <div class="container con_ss1">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 wrap_ss1_left">
                <div class="ss1_left">
                    <img src="assets/images/home2/kl.png" alt="" class="img_kl">
                    <!-- <div class="text-white">
            <div class="play-button">
              <a #video class="popup-vimeo animated-circle" href="https://player.vimeo.com/video/54298665?color=ECCE52"><img src="assets/images/home2/play-button.png" alt="play-button" class="img-fluid"></a>
            </div>
          </div> -->
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-8">

                <div class="tag_line_home">
                    <h1>{{'Home.Intro.Message'|translate}}</h1>
                    <button class="btn_white" type="button" (click)="RedirectToRegister()">{{'Home.Intro.ButtonLabel'|translate}}</button>
                </div>
                <div class="ss1_report">
                    <div class="report_wrap">
                        <ul>
                            <li class="li_line">
                                <h2>40%</h2>
                                <label>{{'Home.Intro.BookingOutside'|translate}}</label>
                            </li>
                            <li class="li_line">
                                <h2>25%</h2>
                                <label>{{'Home.Intro.BookingOnline'|translate}}</label>
                            </li>
                            <li>
                                <h2>-50%</h2>
                                <label>{{'Home.Intro.ReminderSystem'|translate}}</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Home Section End-->