<!-- Pricing Section Start -->
<section id="pricing_lud" class="pricing_lud">
  <div class="container">
    <div class="title_lud">
      <h1>Start Free with Ludiino Online Booking & Scheduling Solution</h1>
      <span>No credit card, no trial period, unlimited use for free. Here is how it works!</span>
    </div>
    <div class="wrap_hiw">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="hiw_content">
            <img src="assets/images/home2/hiw_1.png" alt="" class=" ">
            <span>Sign up for an Account</span>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          2
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          3
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Pricing Section End -->
