#pricing_lud .btn-act {
  padding: 9px 23px !important;
}
.price-box {
    .price {
        position: relative;
        .currency {
            left: unset;
            top: 3px;
            font-size: 16px;
            right: -11px;
        }
    }
}
.pricing-header {
    height: 115px;
    .price-box {
        height: 81px;
        .plan-unit {
            font-size: 19px;
            letter-spacing: 0px;
            color: #757575;
        }
    }
    .ribbon {
        top: 64%;
    }
}