<!-- Pricing Section Start -->
<section id="pricing_lud" class="pricing_lud">
    <div class="container">
        <div class="title_lud">
            <h1>{{'Home.ScreenShot.Header'|translate}}</h1>
            <span>{{'Home.ScreenShot.SmallDescription'|translate}}</span>
        </div>
        <div class="wrap_hiw">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="hiw_content">
                        <img src="assets/images/home2/hiw_1.png" alt="" class=" ">
                        <div class="hiw_text">
                            <p>{{'Home.ScreenShot.SignupAccount'|translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="hiw_content">
                        <img src="assets/images/home2/hiw_2.png" alt="" class=" ">
                        <div class="hiw_text">
                            <p>{{'Home.ScreenShot.SetupService'|translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="hiw_content no_line">
                        <img src="assets/images/home2/hiw_3.png" alt="" class=" ">
                        <div class="hiw_text">
                            <p>{{'Home.ScreenShot.CreateOpenTime'|translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- pricing table start-->
        <div class="wrap_plan">
            <div class="row-fluid clearfix">
                <div class="row pricing-wrapper comparison-table clearfix style-3">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 pricing-col list-feature">
                        <div class="pricing-card">
                            <div class="pricing-header">
                                <h5>{{'Home.SelectPackage.SelectPlant'|translate}}</h5>
                            </div>
                            <div class="pricing-feature pricing-feature-intro">
                                <li>
                                    <p>{{'Home.SelectPackage.TableFeature.Website'|translate}}</p>
                                </li>
                                <li>
                                    <p>{{'Home.SelectPackage.TableFeature.RatingReview'|translate}}</p>
                                </li>
                                <li>
                                    <p>{{'Home.SelectPackage.TableFeature.ServicePricing'|translate}}</p>
                                </li>
                                <li>
                                    <p>{{'Home.SelectPackage.TableFeature.TimeSlotBookingConfirmation'|translate}}</p>
                                </li>
                                <li>
                                     <p>{{'Home.SelectPackage.TableFeature.NoOfBooking'|translate}}</p>
                                </li>
                                <li>
                                    <p class="more_pad_1">{{'Home.SelectPackage.TableFeature.PaymentMethod'|translate}}</p>
                                </li>
                                <li>
                                    <p>{{'Home.SelectPackage.TableFeature.DealPromotion'|translate}}</p>
                                </li>
                                <li>
                                    <p>{{'Home.SelectPackage.TableFeature.CheckInCheckOut'|translate}}</p>
                                </li>
                                <li>
                                    <p>{{'Home.SelectPackage.TableFeature.Cancellation'|translate}}</p>
                                </li>
                                <li>
                                    <p>{{'Home.SelectPackage.TableFeature.CalendarView'|translate}}</p>
                                </li>
                                <li>
                                    <p>{{'Home.SelectPackage.TableFeature.ChatWidget'|translate}}</p>
                                </li>
                                <li>
                                    <p>{{'Home.SelectPackage.TableFeature.TechnicianSchedulingBooking'|translate}}</p>
                                </li>
                                <li>
                                   <p>{{'Home.SelectPackage.TableFeature.CustomerMembership'|translate}}</p>
                                </li>
                                <li>
                                    <p>{{'Home.SelectPackage.TableFeature.ProductCommerce'|translate}}</p>
                                </li>
                                <li>
                                   <p>{{'Home.SelectPackage.TableFeature.Dashboards'|translate}}</p>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 pricing-col person">
                        <a href="javascript:void(0)" class="pricing-card" (click)="RedirectToRegister('FREEBIE')">
                            <div class="pricing-header title_package">
                                <h5>Freebie</h5>
                                <div class="price-box">
                                    <img src="assets/images/home2/free_icon.png" alt="" class="free_tag">
                                </div>
                            </div>
                            <div class="pricing-feature">
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span>{{'Home.SelectPackage.TableFeature.ContentTable.10BookingPerMonth'|translate}}</span>
                                    </p>
                                </li>
                                <li>
                                    <p class="more_pad_1">
                                        <span>{{'Home.SelectPackage.TableFeature.ContentTable.PayAtStore'|translate}}</span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-times unavailable"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-times unavailable"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-times unavailable"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-times unavailable"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-times unavailable"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-times unavailable"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-times unavailable"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-times unavailable"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-times unavailable"></i></span>
                                    </p>
                                </li>

                            </div>
                            <div class="pricing-footer">
                                <a href="javascript:void(0)" class="btn btn-act rounded btn-line" (click)="RedirectToRegister('FREEBIE')">
                                    <span>{{'Home.SelectPackage.RegisterNow_Freebie'|translate}}</span>
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 pricing-col unlim">
                        <a href="javascript:void(0)" class="pricing-card" (click)="RedirectToRegister('NEWBIE')">
                            <div class="pricing-header title_package">
                                <h5 class="lud_color_red">Newbie</h5>
                                <div class="price-box">
                                    <div class="price">16
                                        <div class="currency">$</div>
                                        <div class="plan">/ Mo</div>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing-feature">
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span>{{'Home.SelectPackage.TableFeature.ContentTable.Unlimited'|translate}}</span>
                                    </p>
                                </li>
                                <li>
                                    <p class="more_pad_1">
                                        <span>{{'Home.SelectPackage.TableFeature.ContentTable.PayAtStore'|translate}} & {{'Home.SelectPackage.TableFeature.ContentTable.PayNow'|translate}}</span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-times unavailable"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-times unavailable"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-times unavailable"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-times unavailable"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-times unavailable"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-times unavailable"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-times unavailable"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-times unavailable"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-times unavailable"></i></span>
                                    </p>
                                </li>
                            </div>
                            <div class="pricing-footer">
                                <a href="javascript:void(0)" class="btn btn-act rounded btn-line" (click)="RedirectToRegister('NEWBIE')">
                                    <span>{{'Home.SelectPackage.RegisterNow_Newbie'|translate}}</span>
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 pricing-col business">
                        <a href="javascript:void(0)" class="pricing-card" (click)="RedirectToRegister('BIGGIE')">
                            <div class="pricing-header title_package">
                                <h5 class="lud_color_yel">Biggie</h5>
                                <!-- <a href="" class="ribbon">
                      <i class="fa fa-star"></i>
                      <span>Feature</span>
                    </a> -->
                                <div class="price-box">
                                    <div class="price">36
                                        <div class="currency">$</div>
                                        <div class="plan">/ Mo</div>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing-feature">
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span>{{'Home.SelectPackage.TableFeature.ContentTable.Unlimited'|translate}}</span>
                                    </p>
                                </li>
                                <li>
                                    <p class="more_pad_1">
                                        <span>{{'Home.SelectPackage.TableFeature.ContentTable.PayAtStore'|translate}} & {{'Home.SelectPackage.TableFeature.ContentTable.PayNow'|translate}}</span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-times unavailable"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-times unavailable"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-times unavailable"></i></span>
                                    </p>
                                </li>
                            </div>
                            <div class="pricing-footer">
                                <a href="javascript:void(0)" class="btn btn-act rounded btn-line" (click)="RedirectToRegister('BIGGIE')">
                                    <span>{{'Home.SelectPackage.RegisterNow_Biggie'|translate}}</span>
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 pricing-col corp">
                        <a href="javascript:void(0)" class="pricing-card" (click)="RedirectToRegister('HULK')">
                            <div class="pricing-header title_package">
                                <h5 class="lud_color_green">Hulk</h5>
                                <a href="javascript:void(0)" class="ribbon" (click)="RedirectToRegister('HULK')">
                                    <i class="fa fa-star"></i>
                                    <span>Popular</span>
                                </a>
                                <div class="price-box">
                                    <div class="price">62
                                        <div class="currency">$</div>
                                        <div class="plan">/ Mo</div>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing-feature">
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span>{{'Home.SelectPackage.TableFeature.ContentTable.Unlimited'|translate}}</span>
                                    </p>
                                </li>
                                <li>
                                    <p class="more_pad_1">
                                        <span>{{'Home.SelectPackage.TableFeature.ContentTable.PayAtStore'|translate}} & {{'Home.SelectPackage.TableFeature.ContentTable.PayNow'|translate}}</span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span><i class="fa fa-check available"></i></span>
                                    </p>
                                </li>
                            </div>
                            <div class="pricing-footer">
                                <a href="javascript:void(0)" class="btn btn-act rounded btn-line" (click)="RedirectToRegister('HULK')">
                                    <span>{{'Home.SelectPackage.RegisterNow_Hulk'|translate}}</span>
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <!-- pricing table end -->
    </div>
</section>
<!-- Pricing Section End -->