<!-- Pricing Section Start -->
<section id="pricing_lud" class="pricing_lud">
  <div class="container">
    <div class="title_lud">
      <h1>Start Free with Ludiino Online Booking & Scheduling Solution</h1>
      <span>No credit card, no trial period, unlimited use for free. Here is how it works!</span>
    </div>
    <div class="wrap_hiw">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="hiw_content">
            <img src="assets/images/home2/hiw_1.png" alt="" class=" ">
            <div class="hiw_text">
                <p>Sign up for an Account</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="hiw_content">
            <img src="assets/images/home2/hiw_2.png" alt="" class=" ">
            <div class="hiw_text">
                <p>Setup your services & pricing</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="hiw_content no_line">
            <img src="assets/images/home2/hiw_3.png" alt="" class=" ">
            <div class="hiw_text">
                <p>Create & Publish Time Slots for booking</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- pricing table start-->
    <div class="wrap_plan">
        <div class="row-fluid clearfix">
            <div class="row pricing-wrapper comparison-table clearfix style-3">
              <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 pricing-col list-feature">
                <div class="pricing-card">
                <div class="pricing-header">
                  <h5>Select the plan that works for you</h5>
                </div>
                <div class="pricing-feature pricing-feature-intro">
                  <li>
                    <p>Web Site</p>
                  </li>
                  <li>
                    <p>Rating & Review</p>
                  </li>
                  <li>
                    <p>Services & Pricing</p>
                  </li>
                  <li>
                    <p>Time Slots Booking & Confirmation</p>
                  </li>
                  <li>
                    <p >No. of Bookings Month</p>
                  </li>
                  <li>
                    <p class="more_pad_1">Payment method</p>
                  </li>
                  <li>
                    <p>Deal & Promotion</p>
                  </li>
                  <li>
                    <p>Checkin & Checkout</p>
                  </li>
                  <li>
                    <p>Cancellation</p>
                  </li>
                  <li>
                    <p>Calendar View</p>
                  </li>
                  <li>
                    <p>Chat Widget</p>
                  </li>
                  <li>
                    <p>Technician Scheduling & Booking</p>
                  </li>
                  <li>
                    <p>Customer Membership</p>
                  </li>
                  <li>
                    <p>Product Commerce</p>
                  </li>
                  <li>
                    <p>Dashboards</p>
                  </li>
                </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 pricing-col person">
                <a href="#" class="pricing-card">
                  <div class="pricing-header title_package">
                    <h5>Freebie</h5>
                    <div class="price-box">
                      <img src="assets/images/home2/free_icon.png" alt="" class="free_tag">
                    </div>
                  </div>
                <div class="pricing-feature">
                  <li>
                  <p>
                    <span><i class="fa fa-check available"></i></span>
                  </p>
                  </li>
                  <li>
                  <p>
                    <span><i class="fa fa-check available"></i></span>
                  </p>
                  </li>
                  <li>
                  <p>
                    <span><i class="fa fa-check available"></i></span>
                  </p>
                  </li>
                  <li>
                  <p>
                    <span><i class="fa fa-check available"></i></span>
                  </p>
                  </li>
                  <li>
                  <p>
                      <span>10 Booking/month</span>
                  </p>
                  </li>
                  <li>
                    <p class="more_pad_1">
                      <span>Pay at store</span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <span><i class="fa fa-times unavailable"></i></span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <span><i class="fa fa-times unavailable"></i></span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <span><i class="fa fa-times unavailable"></i></span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <span><i class="fa fa-times unavailable"></i></span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <span><i class="fa fa-times unavailable"></i></span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <span><i class="fa fa-times unavailable"></i></span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <span><i class="fa fa-times unavailable"></i></span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <span><i class="fa fa-times unavailable"></i></span>
                    </p>
                  </li>
                  <li>
                    <p>
                      <span><i class="fa fa-times unavailable"></i></span>
                    </p>
                  </li>
                  
                </div>
                <div class="pricing-footer">
                  <a href="#" class="btn btn-act rounded btn-line">
                  <span>Get Freebie</span>
                  <i class="fa fa-arrow-right"></i>
                  </a>
                </div>
              </a>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 pricing-col unlim">
                <a href="#" class="pricing-card">
                  <div class="pricing-header title_package">
                    <h5 class="lud_color_red">Newbie</h5>
                    <div class="price-box">
                    <div class="price">16
                      <div class="currency">$</div>
                      <div class="plan">/ Mo</div>
                    </div>
                    </div>
                  </div>
                <div class="pricing-feature">
                    <li>
                      <p>
                        <span><i class="fa fa-check available"></i></span>
                      </p>
                      </li>
                      <li>
                      <p>
                        <span><i class="fa fa-check available"></i></span>
                      </p>
                      </li>
                      <li>
                      <p>
                        <span><i class="fa fa-check available"></i></span>
                      </p>
                      </li>
                      <li>
                      <p>
                        <span><i class="fa fa-check available"></i></span>
                      </p>
                      </li>
                      <li>
                      <p>
                          <span>Unlimited</span>
                      </p>
                      </li>
                      <li>
                        <p>
                          <span>Pay at Store & Pay Now</span>
                        </p>
                      </li>
                      <li>
                        <p>
                          <span><i class="fa fa-times unavailable"></i></span>
                        </p>
                      </li>
                      <li>
                        <p>
                          <span><i class="fa fa-times unavailable"></i></span>
                        </p>
                      </li>
                      <li>
                        <p>
                          <span><i class="fa fa-times unavailable"></i></span>
                        </p>
                      </li>
                      <li>
                        <p>
                          <span><i class="fa fa-times unavailable"></i></span>
                        </p>
                      </li>
                      <li>
                        <p>
                          <span><i class="fa fa-times unavailable"></i></span>
                        </p>
                      </li>
                      <li>
                        <p>
                          <span><i class="fa fa-times unavailable"></i></span>
                        </p>
                      </li>
                      <li>
                        <p>
                          <span><i class="fa fa-times unavailable"></i></span>
                        </p>
                      </li>
                      <li>
                        <p>
                          <span><i class="fa fa-times unavailable"></i></span>
                        </p>
                      </li>
                      <li>
                        <p>
                          <span><i class="fa fa-times unavailable"></i></span>
                        </p>
                      </li>
                </div>
                <div class="pricing-footer">
                  <a href="#" class="btn btn-act rounded btn-line">
                  <span>Get Freebie</span>
                    <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
              </a>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 pricing-col business">
                <a href="#" class="pricing-card">
                  <div class="pricing-header title_package">
                    <h5 class="lud_color_yel">Biggie</h5>
                    <!-- <a href="" class="ribbon">
                      <i class="fa fa-star"></i>
                      <span>Feature</span>
                    </a> -->
                    <div class="price-box">
                    <div class="price">36
                      <div class="currency">$</div>
                      <div class="plan">/ Mo</div>
                    </div>
                    </div>
                  </div>
                <div class="pricing-feature">
                    <li>
                    <p>
                      <span><i class="fa fa-check available"></i></span>
                    </p>
                    </li>
                    <li>
                    <p>
                      <span><i class="fa fa-check available"></i></span>
                    </p>
                    </li>
                    <li>
                    <p>
                      <span><i class="fa fa-check available"></i></span>
                    </p>
                    </li>
                    <li>
                      <p>
                        <span><i class="fa fa-check available"></i></span>
                      </p>
                    </li>
                    <li>
                    <p>
                        <span>Unlimited</span>
                    </p>
                    </li>
                    <li>
                      <p>
                        <span>Pay at Store & Pay Now</span>
                      </p>
                    </li>
                    <li>
                      <p>
                          <span><i class="fa fa-check available"></i></span>
                      </p>
                    </li>
                    <li>
                      <p>
                          <span><i class="fa fa-check available"></i></span>
                      </p>
                    </li>
                    <li>
                      <p>
                          <span><i class="fa fa-check available"></i></span>
                      </p>
                    </li>
                    <li>
                      <p>
                          <span><i class="fa fa-check available"></i></span>
                      </p>
                    </li>
                    <li>
                      <p>
                          <span><i class="fa fa-check available"></i></span>
                      </p>
                    </li>
                    <li>
                      <p>
                          <span><i class="fa fa-check available"></i></span>
                      </p>
                    </li>
                    <li>
                      <p>
                        <span><i class="fa fa-times unavailable"></i></span>
                      </p>
                    </li>
                    <li>
                      <p>
                        <span><i class="fa fa-times unavailable"></i></span>
                      </p>
                    </li>
                    <li>
                      <p>
                        <span><i class="fa fa-times unavailable"></i></span>
                      </p>
                    </li>
                </div>
                <div class="pricing-footer">
                  <a href="#" class="btn btn-act rounded btn-line">
                  <span>Get Freebie</span>
                  <i class="fa fa-arrow-right"></i>
                  </a>
                </div>
                </a>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 pricing-col corp">
                <a href="#" class="pricing-card">
                  <div class="pricing-header title_package">
                    <h5 class="lud_color_green">Hulk</h5>
                    <a href="" class="ribbon">
                      <i class="fa fa-star"></i>
                      <span>Popular</span>
                    </a>
                    <div class="price-box">
                    <div class="price">62
                      <div class="currency">$</div>
                      <div class="plan">/ Mo</div>
                    </div>
                    </div>
                  </div>
                  <div class="pricing-feature">
                      <li>
                      <p>
                        <span><i class="fa fa-check available"></i></span>
                      </p>
                      </li>
                      <li>
                      <p>
                        <span><i class="fa fa-check available"></i></span>
                      </p>
                      </li>
                      <li>
                      <p>
                        <span><i class="fa fa-check available"></i></span>
                      </p>
                      </li>
                      <li>
                        <p>
                          <span><i class="fa fa-check available"></i></span>
                        </p>
                      </li>
                      <li>
                      <p>
                          <span>Unlimited</span>
                      </p>
                      </li>
                      <li>
                        <p>
                          <span>Pay at Store & Pay Now</span>
                        </p>
                      </li>
                      <li>
                        <p>
                            <span><i class="fa fa-check available"></i></span>
                        </p>
                      </li>
                      <li>
                        <p>
                            <span><i class="fa fa-check available"></i></span>
                        </p>
                      </li>
                      <li>
                        <p>
                            <span><i class="fa fa-check available"></i></span>
                        </p>
                      </li>
                      <li>
                        <p>
                            <span><i class="fa fa-check available"></i></span>
                        </p>
                      </li>
                      <li>
                        <p>
                            <span><i class="fa fa-check available"></i></span>
                        </p>
                      </li>
                      <li>
                        <p>
                            <span><i class="fa fa-check available"></i></span>
                        </p>
                      </li>
                      <li>
                        <p>
                            <span><i class="fa fa-check available"></i></span>
                        </p>
                      </li>
                      <li>
                        <p>
                            <span><i class="fa fa-check available"></i></span>
                        </p>
                      </li>
                      <li>
                        <p>
                            <span><i class="fa fa-check available"></i></span>
                        </p>
                      </li>
                </div>
                <div class="pricing-footer">
                  <a href="#" class="btn btn-act rounded btn-line">
                  <span>Get Freebie</span>
                  <i class="fa fa-arrow-right"></i>
                  </a>
                </div>
              </a>
              </div>
            </div>
    
          </div>
    </div>
    <!-- pricing table end -->
  </div>
</section>
<!-- Pricing Section End -->
