<div class="step-wrapper">
    <div class="step-header">
        <h4 class="step-title">
            {{ "Features.DemoSteps.Step1.Title" | translate }}</h4>
        <div class="step-current">{{ "Features.DemoSteps.Step" | translate }} 1/5</div>
    </div>
    <div class="step-body">
        <div class="row">
            <div class="col-12">
                <label class="field-label">{{ "Features.DemoSteps.Step1.Address" | translate }}</label>
                <div class="field-select">
                    <select [(ngModel)]="selectedBranch" (selectionChange)="changeBranch($event)" class="form-control">
                        <option *ngFor="let item of branches" [value]="item">{{ item?.name }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 booking-date">
                <label class="field-label">{{ "Features.DemoSteps.Step1.DayBooking" | translate }}</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="calendarStruct.today"
                        [markDisabled]="isDisabled" (click)="d.open()"
                           name="dp" [(ngModel)]="selectedDate" ngbDatepicker #d="ngbDatepicker" container="body" class="form-control">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                          <fa-icon [icon]="icon.calendar"></fa-icon>
                      </button>
                    </div>
                </div>
                <div class="test-absolute"></div>
                <!-- <div>
                    <input matInput [min]="currentDay" (dateChange)="change($event)" [formControl]="date">
                        <mat-datepicker-toggle matSuffix [for]="dp">
                            <span class="ic-calendar" matDatepickerToggleIcon></span>
                            </mat-datepicker-toggle>                
                        <mat-datepicker #dp></mat-datepicker>
                </div> -->
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-12">
                <label class="field-label">Thông tin và địa chỉ</label>
                <div class="field-input">
                    <input type="text" class="step-input">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field class="field-select">
                    <mat-select [(ngModel)]="selectedDistrict">
                        <mat-option *ngFor="let district of districts" [value]="district">
                            <h4 class="district-name">{{district.name}}</h4>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field class="field-select">
                    <mat-select [(ngModel)]="selectedWard">
                        <mat-option *ngFor="let ward of wards" [value]="ward">
                            <h4 class="ward-name">{{ward.name}}</h4>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-form-field class="field-text-area">
                    <textarea matInput placeholder="Thêm ghi chú"></textarea>
                </mat-form-field>
            </div>
        </div> -->
        <button  (click)="goToStep(2)" class="btn move-step btn-bg-orange">{{ "Features.DemoSteps.Next" | translate }}</button>
    </div>
</div>
