<section class="section_signin">
  <div class="con_wrap_signin">
    <!-- modal forgot password -->
    <ng-template #forgot_password_content let-modal style="max-width:80%;">
      <div class="modal-header ">
       <h4 class="header-form"> {{'Home.SignIn.ForgotPassword'|translate}}</h4>
        <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
          <span aria-hidden="true ">&times;</span>
        </button>
      </div>
      <div class="modal-body " >
          <label  style="margin-bottom:0px;">
              {{'Home.SignIn.ResetYourPassword'|translate}}
            </label>
        <form [formGroup]="sendPasswordForm">
          <div class="form-group ">
           
            <div class="input-group ">
              <input name="email" type="email" formControlName="Email" 
                class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 form-control" style="width: 100%;">
              <small *ngIf="f_recover.Email.touched && f_recover.Email.errors?.required"
                class="form-text  text-danger">
                {{'Register.message-require'|translate}}
              </small>
              <small *ngIf="f_recover.Email.errors?.email" class="form-text text-danger">
                {{'Register.message-format-3'|translate}}
              </small>
            </div>
          </div>
          <div class="form-input-2">
              <button id="resend-password-btn" class="btn_login_form" (click)="onSubmit()" [disabled]="!(validFormRecovery|async)"
                (click)="modal.close( 'Save click') ">
                {{'Shared.Send'|translate}}
              </button>
            </div>
        </form>
      </div>
      <div class="modal-footer " >       
        <p class="one-line forgot_text" style="cursor:pointer;" id="reset-password-footer">
          {{'Home.SignIn.DontWantToChangePassword'|translate}} 
          <a href="javascript:void(0)" (click)="showBackLogin()"> {{'Shared.SigninBtnLabel'|translate}}</a>
           
        </p>
      </div>
    </ng-template>
    <!-- end modal -->
    <div class="wrap" [hidden]="IsHidden">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="login_content wrap_form_field">
            <div class="header-page">
              <h2 class="header-form">{{'Shared.SigninBtnLabel'|translate}}</h2>
              <p class="no_acc">
                {{'Home.SignIn.IfDontHaveAcc'|translate}}
                <a href="javascript:void(0)" (click)="RedirectToRegister()">
                  {{'Home.SignIn.RegisterNow'|translate}}!
                </a>
              </p>
            </div>
            <div class="text-danger">
              <span *ngIf="errorMessage" [innerHTML]="errorMessage">
               
              </span>
            </div>
            <form class="register-form" [formGroup]="signInForm">
              <div class="row one-item">
                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                  <span class="title-input">{{'Register.Email'|translate}}</span>
                  <div class="form-input-1">
                    <input type="email" class="fix-boder" formControlName="Email"
                      
                      required="required"
                      [ngClass]="{ 'is-invalid': f.Email.touched && f.Email.errors }">
                    <div *ngIf="isSubmitted && f.Email.errors" class="text-danger">
                      <span *ngIf="f.Email.errors?.required">
                        {{'Register.message-require'|translate}}
                      </span>
                      <span *ngIf="f.Email.errors?.email" class="text-danger">
                        {{'Register.message-format-3'|translate}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row one-item">
                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                  <span class="title-input">{{'Register.Password'|translate}}</span>
                  <div class="form-input-2">
                    <input type="password" class=" fix-boder" formControlName="Password"
                     
                      required="required"
                      [ngClass]="{ 'is-invalid': f.Password.touched && f.Password.errors }">
                    <div *ngIf="isSubmitted &&f.Password.errors" class="text-danger">
                      <div *ngIf="f.Password.errors.required" class="text-danger">
                        {{'Register.message-require'|translate}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="row one-item poli_form">
                                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                                    <p>
                                        <input name="remember_login" type="checkbox" formControlName="RememberLogin">
                                        <label for="remember_login" style="padding-left:5px;"> {{'Home.SignIn.KeepLogedIn'|translate}}</label>
                                    </p>
                                </div>
                            </div> -->
              <div class="row two-item">
                <div class="one-line btn_submit_signup">
                  <div class="form-input-2">
                    <button class="btn_login_form" (click)="onSubmit()">
                      {{'Shared.SigninBtnLabel'|translate}}
                    </button>
                  </div>
                </div>
                <div class="one-line forgot_text">
                  <p>
                    <span (click)="forgotPassword(forgot_password_content)" style="cursor: pointer;">
                      {{'Home.SignIn.ForgotPassword'|translate}}
                    </span>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
