

.one-line {
    display: inline-block;
    overflow: hidden;
}

.blue-text {
    color: blue;
}

.title-input {
    font-size: 0.8rem;
}

.header-form {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.descrition-page {}

.header-page {
    margin-bottom: 32px;
}

.one-item {
    margin-top: 10px;
}

.fix-boder {
    width: 100%;
}

.form-input-2 select {
    width: 100%;
}

.form-input-1 select {
    width: 100%;
}

.sugest-name p {
    font-size: 0.8rem;
}

.invalid-feedback {
    font-size: 80%;
    color: #dc3545;
}

.is-invalid {
    border: 1px solid red;
}

// .modal-dialog {
//     max-width: 70%!important;
// }

// CC's Phuong

.section_signin{
    padding: 0;
}
.no_acc{
    text-transform: none;
}
.no_acc a{
    color: #009bdf;
}
.no_acc a:hover{
    color: #f49c1e;
}
.left_signin_wrap{
    position: relative;
    background-image: url(/assets/images/sign-up/bg_left.jpg);
    background-size: cover;
    height: 500px;
    padding: 40px 30px;
    color: #fff;
}
.modal_body_signin{
    padding: 0;
}
.login_content {
    padding: 40px 50px;
    margin: 0 auto;
}
.btn_login_form{
    margin: 0 15px 0 15px;
    background-color: #f49c1e;
    color: #fff;
    padding: 7px 20px;
    border-radius: 6px;
    outline: none;
    border:none;
    cursor: pointer;
}
.btn_login_form:hover{
    background-color: #e59017;
}
.wrap_form_field input{
    border-radius: 6px;
    border-style: none;
    border: 1px solid #e1e1e1;
    padding: 5px;
    outline: none;
    height: 36px;
    background-color: #fff;
    margin-top: 5px;
    font-size: 14px;
}
.wrap_form_field  select{
    border-radius: 6px;
    border-style: none;
    border: 1px solid #e1e1e1;
    padding: 5px;
    outline: none;
    height: 36px;
    background-color: #fff;
    margin-top: 5px;
    font-size: 14px;
}
.poli_form p{
    text-transform: none;
    font-size: 14px;
    margin-top: 0;
    letter-spacing: normal;
    margin-bottom: 0;
}
.poli_form a:hover{
    color: #f49c1e;
}
.poli_form input{
    height: 14px !important;
    margin-top: 15px;
}
.forgot_text p{
    color: #009bdf;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 5px;
}
.modal_body_signin .close{
    outline: none;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
}
.modal_body_signin .close span{
    font-size: 17px;
    opacity: 0.5;
}