section#banner {
    height: 340px;
    background-image: url(assets/images/pricingp/bg.jpg);
    background-size: cover;
    background-position: center center;
    padding: 0;
    .container {
        position: relative;
        height: 100%;
        display: flex;
        align-items: flex-end;
        padding: 10px 15px 68px;
    }
}

.head-info {
    .sub-t {
        text-shadow: 0px 2.5px 10px rgba(0, 0, 0, 0.2);
        background-image: linear-gradient(to top, #fcac39, #f39a1b), linear-gradient(to bottom, #FFF, #FFF);
        font-family: 'ProximaNova';
        font-size: 30px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: 0.6px;
        text-align: left;
        color: #FFF;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
    }
    .title {
        width: 550px;
        font-family: 'ProximaNova';
        font-size: 46px;
        font-weight: bold;
        line-height: 1;
        letter-spacing: 0.92px;
        text-align: left;
        color: #fff;
        margin: 0 0 20px 0;
    }
}

.bg-bottom {
    width: 495px;
    height: 259px;
    background-image: url(assets/images/pricingp/device.png); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -64px;
    right: -130px;
}

section.main-content {
    padding: 155px 0 50px 0;
    background-color: #f6f7f9;
    .title {
        font-family: 'ProximaNova';
        font-size: 36px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.64;
        letter-spacing: 0.36px;
        text-align: center;
        color: #000000;
        margin: 0 0 12px 0;
    }
    .intro {
        opacity: 0.7;
        font-family: 'ProximaNova';
        font-size: 20px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.15;
        letter-spacing: normal;
        text-align: center;
        color: rgba(0, 0, 0, 0.7);
    }
}
.pricing-info-block {
    width: 610px;
    height: 65px;
    display: flex;
    flex-wrap: wrap;
    padding: 18px 0 18px 0;
    border-radius: 3px;
    border: solid 0.5px rgba(255, 255, 255, 0.5);
    background-color: #2f3b4d;
    justify-content: center;
    margin: auto;
    img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .step {
        display: flex;
        p {
            font-family: 'ProximaNova';
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: normal;
            text-align: left;
            color: #fff;
            text-transform: none;
            margin: 0;
        }
        &:not(.step3) {
            border-right: 1px solid rgba(255, 255, 255, 0.6);
        }
        &.step1 {
            padding: 0 21px 0 20px;            
            p{
                width: 86px;
            }
        }
        &.step2 {
            padding: 0 21px 0 12px;
            p{
                width: 121px;
            }
        }
        &.step3 {
            padding: 0 23px 0 23px;
            p{
                width: 158px;
            }
        }
    }
}
.package-list {
    .package {
        &:not(:nth-last-of-type(1)) {
            padding: 106px 0 65px 0;
            .content {
                border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
            }
        }
        &:nth-last-of-type(1) {
            padding: 106px 0 57px 0;
        }
        .image {
            align-items: center;
            display: flex;
        }
        .title {
            font-family: "ProximaNova";
            font-size: 28px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.28px;
            text-align: left;
            text-transform: uppercase;
            margin: 0 0 8px 0;
            span {
                font-weight: 800;
            }
        }
        .info {
            font-family: 'ProximaNova';
            opacity: 0.9;
            font-size: 16px;
            font-weight: normal;
            line-height: 1.38;
            letter-spacing: normal;
            text-align: left;
            color: rgba(0, 0, 0, 0.9);
            margin: 0 0 20px 0;
        }
        ul {
            font-family: "ProximaNova";
            padding: 0;
            li {
                font-size: 14px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 2;
                letter-spacing: normal;
                text-align: left;
                color: #4d4e4f;
                display: flex;
                align-items: center;
                &:before {
                    content: '';
                    display: block;
                    width: 12px;
                    height: 8px;
                    background-image: url(assets/images/icon/icon_check-green.png);
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    margin-right: 8px;
                }
            }
        }
        .action {
            width: 212px;
            button {
                text-transform: uppercase;
            }
        }
        .title-red {
            color: #c1272d;
        }
        .title-blue {
            color: #00aeef;
        }
        .title-orange {
            color: #f7941d;
        }
        .title-green {
            color: #00a651;
        }
        select {
            width: 212px;
            height: 45px;
            border-radius: 3px;
            box-shadow: 0px 3.5px 10.5px 0 rgba(0, 0, 0, 0.05);
            border: solid 0.5px #e2e4e9;
            background-color: #fff;
            padding: 0 0 0 14px;
            margin: 0 0 16px 0;
        }
        .discount {
            font-family: 'ProximaNova';
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.14px;
            text-align: left;
            color: #000;
            margin: 0 0 18px 0;
            span {
                color: #c1272d;
            }
        }
    }
}
.price-label {
    font-family: 'ProximaNova';
    font-size: 28px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0.28px;
    text-align: left;
    color: #000000;
    &.free {
        text-align: center;
    }
    span {
        font-weight: bold;
    }
}


section.faq {
    height: 290px;
    padding: 64px 0 55px 0;
    .container {
        position: relative;
    }
    .left {
        padding-top: 10px;
    }
    .mid {
        padding-top: 7px;
        .question {
            margin-bottom: 35px;
        }
    }
    .fag-content {
        img {
            width: 173px;
            height: 95px;
            object-fit: contain;
            position: absolute;
            bottom: -34px;
            left: 20px;
        }
        .title {
            font-family: 'ProximaNova';
            font-size: 36px;
            font-weight: bold;
            font-stretch: normal;
            line-height: 1;
            letter-spacing: 2.88px;
            text-align: left;
            color: #000000;
            margin: 0 0 18px 0;
        }
        .intro {
            width: 278px;
            font-family: 'ProximaNova';
            font-size: 14px;
            font-weight: 300;
            line-height: 1.21;
            letter-spacing: normal;
            text-align: left;
            color: rgba(0, 0, 0, 0.7);
        }
    }
    .question {
        align-items: center;
        margin-bottom: 20px;
        font-family: 'ProximaNova';
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        &:before {
            content: '';
            display: block;
            width: 22px;
            height: 22px;
            background-image: url(assets/images/pricingp/carret_square-blue.png);
            background-size: 100% 100%;
            background-position: 0 0 ;
            background-repeat: no-repeat;
            margin: 0 10px 0 0;
            flex: 0 0 22px;
        }
    }
}

section.ludiino-solution {
    padding: 78px 0 0 0;
    height: 505px;
    background-image: linear-gradient(to top, #f7941d, #ffb534);
    .title {
        position: relative;
        font-family: "ProximaNova";
        font-size: 32px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.16;
        letter-spacing: 0.32px;
        text-align: center;
        color: #fff;
        margin: 0 auto 90px;
        &:before {
            content: "";
            display: block;
            width: 80px;
            height: 1px;
            opacity: 0.5;
            background: #fff;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 86px;
        }
    }
    .solution-list {
        display: flex;
        flex-wrap: wrap;
        .solution {
            width: 25%;
            font-family: "ProximaNova";
            font-size: 16px;
            line-height: 1.81;
            letter-spacing: 0.16px;
            text-align: left;
            color: #fff;
            margin: 0 0 4px 0;
            display: flex;
            align-items: center;
            &:before {
                content: '';
                display: block;
                width: 12px;
                height: 8px;
                background-image: url(assets/images/icon/icon_check-white.png);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                margin-right: 10px;
            }
        }
    }
}

section.carousel-salon-section {
    height: 180px;
    background: #f6f7f9;
    .carousel-salon {
        ::ng-deep {
            .owl-theme {
                margin-top: -253px;
                .owl-dots .owl-dot {
                    span {
                        width: 9px;
                        height: 9px;
                        border: solid 1.5px #b7b7b7;
                        background-color: #f6f7f9;
                        margin: 5px 6px;
                    }
                    &.active, &:hover {
                        span {
                            border: 0;
                            background-color: #f7941d;
                        }
                    }
                }
            }
            .owl-carousel {
                .owl-item {
                    padding-bottom: 10px;
                }
            }
        }
    }
    .item {
        overflow: hidden;
        height: 203px;
        border-radius: 3px;
        box-shadow: 0px 3.5px 10px 0 rgba(0, 0, 0, 0.05);
        border: solid 0.5px #e2e4e9;
        background-color: #fff;
        img {
            width: 100%;
            height: 153px;
        }
        .section {
            height: 50px;
            display: flex;
            align-items: center;
            padding: 0 15px;
            font-family: 'ProximaNova';
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 0.15px;
            text-align: left;
            color: #000000;
            background: #fff;
            margin: 0;
        }
    }
}
