<section id="banner">
    <div class="container">
        <div class="head-info">
            <h3 class="sub-t">
                Start Free With
            </h3>
            <h1 class="title">
                Ludiino Online Booking & Scheduling Solution
            </h1>
            <button class="btn btn_gradient-orange">
                Register Now
            </button>
        </div>
        <div class="bg-bottom"></div>
    </div>
</section>

<section class="main-content">
    <div class="container">
        <h2 class="title">Details Info & Pricing per package</h2>
        <p class="intro">No credit card, no trial period, unlimited use for free. Here is how it works!</p>
        <div class="pricing-info-block">
            <div class="step step1">
                <img src="assets/images/home2/hiw_1.png" alt="signup" class=" ">
                <p>{{'Home.ScreenShot.SignupAccount'|translate}}</p>
            </div>
            <div class="step step2">
                <img src="assets/images/home2/hiw_2.png" alt="setup service" class=" ">
                <p>{{'Home.ScreenShot.SetupService'|translate}}</p>
            </div>
            <div class="step step3">
                <img src="assets/images/home2/hiw_3.png" alt="create open time" class=" ">
                <p>{{'Home.ScreenShot.CreateOpenTime'|translate}}</p>
            </div>
        </div>
        <div class="package-list">
            <div class="package row">
                <div class="image col-12 col-sm-3">
                    <img  src="assets/images/pricingp/freebie.jpg" alt="logo"/>
                </div>
                <div class="content col-12 col-sm-9">
                    <div class="inner row">
                        <div class="col-12 col-sm-8">
                            <h3 class="title title-red"><span>Freebie</span> Package</h3>
                            <p class="info">
                                Get your business started online for free with an online booking website that does business for you 24/7
                            </p>
                            <ul>
                                <li>Online Booking Website</li>
                                <li>Integrated Google Map</li>
                                <li>Rating & Review</li>
                                <li>Services & Pricing </li>
                                <li>Time Slots Booking & Confirmation</li>
                                <li>20 Online Bookings per Month</li>
                                <li>Payment Method: Pay At Store</li>
                            </ul>
                        </div>
                        <div class="col-12  col-sm-4 d-flex justify-content-end">
                            <div class="action d-flex flex-column">
                                <p class="price-label free">FREE</p>
                                <button class="btn btn_gradient-orange"  (click)="redirectToRegister('2')">
                                    Get FREEBIE
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="package row">
                <div class="image col-12 col-sm-3">
                    <img  src="assets/images/pricingp/newbie.jpg" alt="logo"/>
                </div>
                <div class="content col-sm-9">
                    <div class="inner row">
                        <div class="col-12 col-sm-8">
                            <h3 class="title title-blue"><span>Newbie</span> Package</h3>
                            <p class="info">
                                Get your business started online for free with an online booking website that does business for you 24/7
                            </p>
                            <ul>
                                <li>Online Booking Website</li>
                                <li>Integrated Google Map</li>
                                <li>Rating & Review</li>
                                <li>Services & Pricing </li>
                                <li>Time Slots Booking & Confirmation</li>
                                <li>20 Online Bookings per Month</li>
                                <li>Payment Method: Pay At Store</li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-4 d-flex justify-content-end">
                            <div class="action d-flex flex-column">
                                    <p class="price-label">$<span>{{selectedNewbie?.price}}</span></p>
                                    <select [(ngModel)]="selectedNewbie">
                                        <option *ngFor="let item of newbiePackage"  [ngValue]="item">
                                            {{item.name}}
                                        </option>
                                    </select>
                                    <div class="discount" *ngIf="selectedNewbie?.discount">
                                        Discount: <span>{{selectedNewbie?.discount}} free months</span>
                                    </div>
                                    <button class="btn btn_gradient-orange"  (click)="redirectToRegister('7')">
                                        Get NEWBIE
                                    </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="package row">
                <div class="image col-12 col-sm-3">
                    <img  src="assets/images/pricingp/biggie.jpg" alt="logo"/>
                </div>
                <div class="content col-sm-9">
                    <div class="inner row">
                        <div class="col-12 col-sm-8">
                            <h3 class="title title-orange"><span>Biggie</span> Package</h3>
                            <p class="info">
                                Get your business started online for free with an online booking website that does business for you 24/7
                            </p>
                            <ul>
                                <li>Online Booking Website</li>
                                <li>Integrated Google Map</li>
                                <li>Rating & Review</li>
                                <li>Services & Pricing </li>
                                <li>Time Slots Booking & Confirmation</li>
                                <li>20 Online Bookings per Month</li>
                                <li>Payment Method: Pay At Store</li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-4 d-flex justify-content-end">
                            <div class="action d-flex flex-column">
                                <p class="price-label">$<span>{{selectedBiggie?.price}}</span></p>
                                <select [(ngModel)]="selectedBiggie">
                                    <option *ngFor="let item of biggiePackage"  [ngValue]="item">
                                        {{item.name}}
                                    </option>
                                </select>
                                <div class="discount" *ngIf="selectedBiggie?.discount">
                                    Discount: <span>{{selectedBiggie?.discount}} free months</span>
                                </div>
                                <button class="btn btn_gradient-orange"  (click)="redirectToRegister('12')">
                                    Get BIGGIE
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="package row">
                <div class="image col-12 col-sm-3">
                    <img  src="assets/images/pricingp/hulk.jpg" alt="logo"/>
                </div>
                <div class="content col-sm-9">
                    <div class="inner row">
                        <div class="col-12 col-sm-8">
                            <h3 class="title title-green"><span>Hulk</span> Package</h3>
                            <p class="info">
                                Sell not only your services but also your merchandise on your website to maximize your revenues                    
                            </p>
                            <ul>
                                <li>Online Booking Website</li>
                                <li>Integrated Google Map</li>
                                <li>Rating & Review</li>
                                <li>Services & Pricing </li>
                                <li>Time Slots Booking & Confirmation</li>
                                <li>20 Online Bookings per Month</li>
                                <li>Payment Method: Pay At Store</li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-4 d-flex justify-content-end">
                            <div class="action d-flex flex-column">
                                    <p class="price-label">$<span>{{selectedHulk?.price}}</span></p>
                                    <select [(ngModel)]="selectedHulk">
                                        <option *ngFor="let item of hulkPackage"  [ngValue]="item">
                                            {{item.name}}
                                        </option>
                                    </select>
                                    <div class="discount" *ngIf="selectedHulk?.discount">
                                        Discount: <span>{{selectedHulk?.discount}} free months</span>
                                    </div>
                                <button class="btn btn_gradient-orange"  (click)="redirectToRegister('17')">
                                    Get HULK
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="faq">
    <div class="container">
        <div class="fag-content row">
            <div class="left col-12 col-sm-4">
                <h2 class="title">FAQs</h2>
                <p class="intro">Here are some frequently asked questions related to the Ludiino Booking Online solution</p>
                <img src="assets/images/pricingp/faqs.jpg" alt="faq"/>
            </div>
            <div class="mid col-12 col-sm-4">
                <div class="question d-flex">How do I sign up for Ludiino solution?</div>
                <div class="question d-flex">When can I start using Ludiino solution for my business?</div>
                <div class="question d-flex">How do I make payment?</div>
            </div>
            <div class="right col-12 col-sm-4">
                <div class="question d-flex">When is my own website created for clients to make bookings on it?</div>
                <div class="question d-flex">If I already have an existing website for my business, can ludiino solution be integrated
                    with it?</div>
                <div class="question d-flex">Can I use Ludiino solution for multiple at the same time?</div>
            </div>
        </div>
    </div>
</section>
<section class="ludiino-solution">
    <div class="container">
        <h2 class="title">Who use Ludiino Solution?</h2>
        <div class="solution-list">
            <div class="solution">Hair Salon</div>
            <div class="solution">Beauty Salon</div>
            <div class="solution">Spa & Massage</div>
            <div class="solution">Gym & Sport Center</div>
            <div class="solution">Medical Clinic</div>
            <div class="solution">Repair Service</div>
            <div class="solution">Hair Salon</div>
            <div class="solution">Beauty Salon</div>
            <div class="solution">Spa & Massage</div>
            <div class="solution">Gym & Sport Center</div>
            <div class="solution">Medical Clinic</div>
            <div class="solution">Repair Service</div>
        </div>
    </div>
</section>

<section class="carousel-salon-section">
    <owl-carousel-o class="carousel-salon" [options]="customOptions">
        <ng-template carouselSlide [width]="274">
            <div class="item">
                <img src="assets/images/pricingp/hair-salon.jpg" alt=""/>
                <h3 class="section">Hair Salon</h3>
            </div>
        </ng-template>  
        <ng-template carouselSlide [width]="274">
            <div class="item">
                <img src="assets/images/pricingp/beauty-salon.jpg" alt=""/>
                <h3 class="section">Beauty Salon</h3>
            </div>
        </ng-template>  
        <ng-template carouselSlide [width]="274">            
            <div class="item">
                <img src="assets/images/pricingp/gym-sport.jpg" alt=""/>
                <h3 class="section">Gym & Sport Center</h3>
            </div>
        </ng-template>  
        <ng-template carouselSlide [width]="274">            
            <div class="item">
                <img src="assets/images/pricingp/spa-massage.jpg" alt=""/>
                <h3 class="section">Gym & Sport Center</h3>
            </div>
        </ng-template>  
        <ng-template carouselSlide [width]="274">            
            <div class="item">
                <img src="assets/images/pricingp/medical.jpg" alt=""/>
                <h3 class="section">Medical Clinic</h3>
            </div>
        </ng-template>  
    </owl-carousel-o>
</section>