<div class="row">
	<div class="col-lg-12">
		<div class="card-box">
            <div class="card-box-header">
                <div class="card-box-header-left">
                    <h4 class="header-title">{{ gridControl?.title }}</h4>
                    <div class="content-projection">
                        <span class="trash-col"></span>
                        <ng-content></ng-content>
                    </div>
                </div>
                <div class="card-box-header-right">
                    <div class="search-box">
                        <input type="text" class="form-control search-box" placeholder="Tìm kiếm" #searching>
                        <span class="search-button"><i class="dripicons-search"></i></span>
                    </div>

                </div>
            </div>
			<div class="table-responsive">
				<table class="table mb-0">
					<thead>
						<tr *ngIf="gridControl && gridControl?.columns && gridControl?.columns.length > 0">
							<th *ngFor="let column of gridControl.columns; let i = index;">
                                <span class="column-item" (click)="sortColumn(column.sortable, i);">
                                    {{ column?.displayName }}
                                    <span *ngIf="column.sortable">
                                        <i class="dripicons-chevron-down" *ngIf="column.sortingStatus && column.sortingStatus == 'ASC'"></i>
                                        <i class="dripicons-chevron-up" *ngIf="column.sortingStatus && column.sortingStatus == 'DESC'"></i>
                                    </span>
                                </span>
                            </th>
						</tr>
					</thead>
					<tbody *ngIf="gridControl && gridControl.data && gridControl.data.length > 0">
						<tr *ngFor="let item of gridControl.data; let i = index;trackBy: gridControl.trackByFn">
							<td *ngFor="let column of gridControl.columns;" [innerHtml]="item[column.name]" [class]="column?.class" [ngStyle]="column?.css"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>