p{
  text-transform: none;
}
.one-line {
  display: inline-block;
  overflow: hidden;
}

.wrap_form_field .blue-text {
  color: #ff8d8d;
  font-size: 0.7em;
  margin-left: 3px;
}

.title-input {
  font-size: 14px;
  color: #8d8d8d;
}

.header-form {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #313232;
}

.have_acc1 p {
  margin-top: 5px !important;
}

.header-page {
  margin-bottom: 40px;
}

.one-item {
  margin-top: 15px;
}

.two-item {
  margin-top: 15px;
}

.fix-boder {
  width: 100%;
}

.form-input-2 select {
  width: 100%;
}

.form-input-1 select {
  width: 100%;
}

.sugest-name {
    p{
        font-size: 0.8rem;
    } 
  .shop-domain {
    margin-top: 5px;

    padding-left: 5px;
    p{
        span{
            color: #e59017;
        }
    }
  }
}

.invalid-feedback {
  font-size: 80%;
  color: #dc3545;
}

.is-invalid {
  border: 1px solid red;
}

// ================================
// CSS's Phuong
// ================================

.section_signin {
  background-color: #f5f9f9;
  height: 100vh;
  padding: 0;
}

.section_signin a{
  color: #00aeef;
}
.section_signin .login-cus-form{
  background-color: #ffffff;
  padding: 30px 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px;
  border-radius: 5px;
}
.section_signin .wel_img{
margin-top: 60px;
}
.section_signin .title-sub-right{
font-size: 19px;
color: #ffffff;

}

.wrap_left_signin {
  position: relative;
  background-image: url(/assets/images/sign-up/bg.png);
  background-size: cover;
  height: 100vh;
  padding: 40px 0px;
  color: #fff;
}

.welcome-container .wel_img img {
  width: 180px;
}

.welcome-container h3 {
  color: #fff;
  margin: 10px 0 0 0;
}

.welcome-container hr {
  border-top: 1px solid #ffffff5c;
}

.welcome-container p {
  color: #fff;
  opacity: 0.7;
}
.welcome-container{
  padding: 0 30px;
}

.device_mac {
  width: 100%;
  bottom: 0%;
  height: 70%;
  background-image: url(/assets/images/sign-up/device-new.png);
  background-repeat: no-repeat;
  background-position: 25%;
  background-size: cover;
  position: absolute;

}

.wrap_left_signin .macbook_img {
  width: 100%;
  position: absolute;
  left: 20px;
  bottom: 50px;
}

.ft_authen span {
  position: absolute;
  bottom: 30px;
  text-align: center;
  width: 90%;
  font-size: 14px;
  opacity: 0.7;
}

.wrap_over_signin {
  overflow: auto;
  height: 100vh;
  background-color: #f5f6f7;
  
}

.wrap_form_field {
  padding: 15px;
  width: 50%;
  margin: 15% auto 0;
 
}

.wrap_form_field .header-page {
  margin-top: 50px;
  text-align: center;
}
.wrap_form_field input {
  border-style: none;
  padding: 5px;
  outline: none;
  margin-top: 5px;
  font-size: 14px;
  height: 40px;
  border-radius: 3px;
  background-color: #edf1f7;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.9);
  padding-left: 45px;
}

.wrap_form_field select {
  border-radius: 2px;
    border-style: none;
    padding: 5px;
    outline: none;
    background-color: #ecf1f7;
    margin-top: 5px;
    font-size: 14px;
    height: 40px;
    border-radius: 3px;
    opacity: 0.9;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.9);
}


.poli_form p {
  text-transform: none;
  font-size: 14px;
  margin-top: 0;
  letter-spacing: normal;
  margin-bottom: 5px;
  padding: 10px 0;
}

.poli_form a:hover {
  color: #f49c1e;
}

.poli_form input {
  height: 14px !important;
  margin-top: 15px;
}

.wrap_form_field button {
  background-color: #f49c1e;
  color: #fff;
  padding: 7px 20px;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  box-shadow: 0px 3.5px 10.5px 0 rgba(0, 0, 0, 0.05);
  background-image: linear-gradient(to bottom, #ffc066, #f39a1b);

  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.28px;
  text-align: center;
  color: var(--white);
}

.wrap_form_field button:hover {
  background-color: #e59017;
}

.btn_submit_signup button {
  margin: 0 10px 0 15px;

}

.section_signin a:focus {
  color: #00aeef !important;

}

.section_signin .ip_checkbox {
  margin-top: 0px;
}


.text-danger{
    font-size: 13px!important;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
.img-email{
  position: absolute;
  left: 27px;
  top: 43px;
}
.img-password{
  position: absolute;
  left: 27px;
  top: 40px;
}

.gach{
  position: absolute;
  width: 1px;
  height: 19px;
  opacity: 0.6;
  background-color: #9fb2c9;
  top: 38px;
  left: 50px;
}
.img-top{
  width: 150px;
  margin: 10% 10% 0;
}


@media only screen and (max-width:768px) {
  .wrap_form_field {
    padding: 15px;
    width: 50%;
    margin: 0% auto 0;
   
  }
}