<section class="section_signin">
    <p-loading [content-header]="contentLoading" [is-display]="showLoading"></p-loading>
    <div class="container_full_width">
        <div class="wrap">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                    <div class="wrap_left_signin">
                        <div class="welcome-container">
                            <div class="wel_img">
                                <a href="#"><img src="assets/images/logo_ft.png"></a>
                            </div>
                            <h3 class="subtitle">Welcome to Ludiino Booking System</h3>
                            <hr>
                            <p>Get Ludiino Online Booking & Scheduling System to never miss a booking & book more
                                clients</p>
                        </div>
                        <div class="device_mac">
                            <img src="assets/images/sign-up/device.png" class="macbook_img">
                        </div>
                        <div class="ft_authen">
                            <span>Powered by Ludiino ©2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 wrap_over_signin">
                    <div class="wrap_form_field">
                        <div class="header-page">
                            <h2 class="header-form"> Login</h2>
                            <span class="descrition-page">Login Sub</span>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</section>