<section class="section_signin">
    <p-loading [content-header]="contentLoading" [is-display]="showLoading"></p-loading>
    <div class="container_full_width">
        <div class="wrap">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 wrap_over_signin">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="wrap_form_field">
                                <div class="header-page">
                                    <h2 class="header-form"> Login</h2>
                                   
                                </div>
                                <form class="login-form"  [formGroup]="signInForm">
                                        <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                                                        <span class="title-input">{{'Register.Email'|translate}}</span><span
                                                            class="blue-text">*</span>
                                                        <div class="form-input-1">
                                                            <input type="email" class="fix-boder" formControlName="Email"
                                                                required="required"
                                                                [ngClass]="{ 'is-invalid': f.Email.touched && f.Email.errors?.required }">
                                                        </div>
                                                        <div *ngIf="isSubmitted && f.Email.errors" class="text-danger">
                                                            <div *ngIf="f.Email.errors?.required">
                                                                {{'Register.message-require'|translate}}
                                                            </div>
            
                                                            <div *ngIf="f.Email.errors?.pattern">
                                                                {{'Register.message-format-3'|translate}}
                                                            </div>
                                                        </div>
                                                    </div>
                                           <div class="col-xl-12"></div>
                                        </div>
                                 </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div class="wrap_left_signin">
                        <div class="welcome-container">
                            <div class="wel_img">
                                <a href="#"><img src="assets/images/sign-up/logo-new.png"></a>
                            </div>
                            <!-- <h3 class="subtitle">Welcome to Ludiino Booking System</h3>
                                        <hr> -->
                            <div class="title-sub-right">Get Ludiino Online Booking & Scheduling System to never miss a
                                booking & book more
                                clients</div>
                        </div>
                        <div class="device_mac">
                            <img src="assets/images/sign-up/device-new.png" class="macbook_img">
                        </div>
                        <div class="ft_authen">
                            <span>Powered by Ludiino ©2019</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>