<div class="thanks-bg">
  <div class="container">
    <div class="box_thanks">
      <img class="img_check_done" src="assets/images/home2/check_done.png">
      <h1>Đăng ký tài khoản thành công</h1>
      <p>Cám ơn bạn đã đăng ký sử dụng Ludiino - Giải pháp đặt hẹn dịch vụ trực tuyến</p>

      <div class="wrap_confirm_info">
          <table class="table table-borderless">
              <tbody>
                <tr>
                  <th scope="row"><i class="fa fa-circle"></i> Tên đăng ký</th>
                  <td>Phuong Nguyen</td>
                </tr>
                <tr>
                    <th scope="row"><i class="fa fa-circle"></i> Email</th>
                    <td>nguyenbaophuong36@gmail.com</td>
                </tr>
                <tr>
                    <th scope="row"><i class="fa fa-circle"></i> Phone</th>
                    <td>0934547337</td>
                </tr>
                <tr>
                    <th scope="row"><i class="fa fa-circle"></i> Mã đơn hàng</th>
                    <td class="oder_id">#982632</td>
                </tr>
                <tr>
                    <th scope="row"><i class="fa fa-circle"></i> Phí dịch vụ</th>
                    <td>3,5000,000 đ <span class="payment_stt">- Chưa thanh toán </span></td>
                </tr>
                <tr>
                    <th scope="row"><i class="fa fa-circle"></i> Trạng thái</th>
                    <td class="active_stt">Chưa kích hoạt</td>
                </tr>
                
              </tbody>
            </table>
      </div>

      <p class="note_p"><strong>Lưu ý:</strong> Để sử dụng hệ thống Ludiino, xin vui lòng hoàn tất quá trình thanh toán</p>
    </div>
    <a href="#" class="btn_back_home">BACK TO HOME PAGE</a>
  </div>
</div>


