<div class="full-page">
  <div class="thanks-bg">
    <div class="container">
      <div class="box_thanks">
        <img class="img_check_done" src="assets/images/home2/check_done.png">
        <h1>{{'Thankyou.thankNotify' | translate}}</h1>
        <p>{{'Thankyou.thankTopLetter' | translate}}</p>
        <div class="wrap_confirm_info">
            <table class="table table-borderless">
                <tbody>
                  <tr>
                    <th scope="row"><i class="fa fa-circle"></i> {{'Thankyou.name' | translate}}</th>
                    <td>{{orderResponse && orderResponse.name ? orderResponse.name : ''}}</td>
                  </tr>
                  <tr>
                      <th scope="row"><i class="fa fa-circle"></i> {{'Thankyou.email' | translate}}</th>
                      <td>{{orderResponse && orderResponse.email ? orderResponse.email : ''}}</td>
                  </tr>
                  <tr>
                      <th scope="row"><i class="fa fa-circle"></i> {{'Thankyou.phone' | translate}}</th>
                      <td>{{orderResponse && orderResponse.phone ? orderResponse.phone : ''}}</td>
                  </tr>
                  <tr>
                      <th scope="row"><i class="fa fa-circle"></i> {{'Thankyou.orderNumber' | translate}}</th>
                      <td class="oder_id">#{{orderResponse && orderResponse.orderNumber ? orderResponse.orderNumber : ''}}</td>
                  </tr>
                  <tr>
                      <th scope="row"><i class="fa fa-circle"></i> {{'Thankyou.price' | translate}}</th>
                      <td>{{(orderResponse && orderResponse.price ? orderResponse.price : '' )| currency: "VND"}} - <span class="payment_stt">{{orderResponse && orderResponse.orderStatus ? orderResponse.orderStatus : ''}}</span></td>
                  </tr>
                  <tr>
                      <th scope="row"><i class="fa fa-circle"></i> {{'Thankyou.status' | translate}}</th>
                      <td class="active_stt">{{orderResponse && orderResponse.userStatus ? orderResponse.userStatus : ''}}</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <p>{{'Thankyou.thankBottomLetter' | translate}}</p>
      </div>
    </div>
  </div>
  <!-- copy-right-section -->
  <footer class="bg-thanks">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-section">
            <div class="mt-3 text-center">
              <a href="#" class="btn_back_home">{{'Thankyou.backButton' | translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!--end copy right section-->
