<div class="feature-header">
    <div class="feature-header-bg-orange"></div>
    <div class="feature-header-bg-gray"></div>
    <div class="feature-header-box-header">
        <h1 class="feature-header-box-header-title">{{ 'Features.DemoBooking.Header.Title' | translate }}</h1>
        <h4 class="feature-header-box-header-description">{{ 'Features.DemoBooking.Header.Description' | translate }}
        </h4>
        <p class="feature-header-box-header-content">
            {{ 'Features.DemoBooking.Header.Content' | translate }}
        </p>
        <div class="feature-header-box-header-booking-button">
            <div class="feature-header-box-header-booking-button-box">
                <div class="feature-header-box-header-booking-button-wrap" #bookingOption [ngClass]="{ 'jumping': stateHeaders?.isJumping }">
                    <span class="feature-header-box-header-booking-button-wrap-text noselect" (click)="openChooseSolution()">
                        {{ bookingSolutions[activeSolution]?.title | translate }} <fa-icon [icon]="icons?.caretDown"></fa-icon>
                    </span>
                    <span class="feature-header-box-header-booking-button-wrap-booking" (click)="bookNow()">
                        Book now
                    </span>
                </div>
                <div class="feature-header-box-header-booking-button-wrap-option" *ngIf="stateHeaders?.chooseSolution">
                    <div class="booking-box">
                        <div class="arrow-up"></div>
                        <div
                            class="feature-header-box-header-booking-button-wrap-option-data"
                            *ngFor="let solution of bookingSolutions; let i = index;"
                            (click)="chooseTypeSolution(i)"
                            [ngClass]="{ 'active': activeSolution === i }"
                        >
                            {{ solution?.title | translate }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="feature-header-box-content">
        <app-calendar-view (bookingIsCreated)="bookingIsCreated($event)" [type]="bookingSolutions[activeSolution]?.value"></app-calendar-view>
    </div>
</div>