<div class="step-wrapper">
    <div class="step-header"><span class="back-step" (click)="goToStep(1, null)"></span>
        <h4 class="step-title">2. {{ "Features.DemoSteps.Step2.Title" | translate }}</h4>
        <div class="step-current">{{ "Features.DemoSteps.Step" | translate }} 2/5</div>
    </div>
    <div class="step-body">
        <ngb-accordion  [closeOthers]="true" activeIds="ngb-panel-0">
            <ngb-panel *ngFor="let service of services; let i = index;" [id]="'ngb-panel-' + i">
                <ng-template ngbPanelTitle>
                    <div class="step1-section hair-section ">{{ service?.name | translate }}</div>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div *ngFor="let item of service.services" class="option" (click)="goToStep(3, {name: item?.name, price: item?.price, type: item?.type, duration: item?.duration })">
                        <div class="left">
                            <div class="name">{{ item?.name | translate }}</div>
                            <div class="time">{{ item?.description | translate }}</div>
                        </div>
                        <div class="right">
                            <p class="price" translate [translateParams]="{price: item?.price | priceExchangeRate | async | number, unit: 'Pricing.TransformUnitTail' | translate}">Pricing.TransformUnit</p>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
