.step-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #f3f3f3;
    overflow-y: hidden;
    display: block;
    margin: 0;
}
.step-header {
    height: 50px;
    border-bottom: 1px solid rgba(215, 215, 215, 0.5);
    padding: 6px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.step-title {
    font-family: 'ProximaNova';
    font-size: 16px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.32px;
    text-align: left;
    color: #111111;
    text-transform: uppercase;
    margin: 0;
}
.step-current {
    font-family: 'ProximaNova';
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 0.26px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}
.step-body {
    padding: 5px 24px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: calc(100% - 50px);
}
.back-step {
    width: 25px;
    height: 10px;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-flex;
    margin: 0 10px 0 0;
    background-image: url(assets/images/homep/arrow_left_step.png);
    background-size: cover;
    cursor: pointer;
}
.field-label {
    font-family: "ProximaNova";
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: 0.26px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 4px 0;
}

.step-input {
    width: 100%;
    height: 45px;
    border-radius: 3px;
    box-shadow: 0px 3.5px 10.5px 0 rgba(0, 0, 0, 0.05);
    border: 0;
    background-color: #fff;
    padding: 0 10px;
    margin: 0 0 16px 0;
    text-align: left;
    &-number {
        padding: 0 102px 0 30px;
        padding-right: 58%;
        text-align: right;
    }
}

.technicians-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0 0 0;
    .staff {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: calc(50% - 5px);
        border: 1px solid rgba(215, 215, 215, 0.5);
        border-radius: 3px;
        margin: 0 0 10px 0;
        padding: 5px;
        cursor: pointer;
        img{
            width: 35px;
            height: 35px;
            object-fit: contain;
            border-radius: 50%;
            margin: 0 5px 0 0;
        }
        &:hover, &.active {
            border: 1px solid red;
            background: #fff;
        }
    }
    .staff-info {
        .name {
            font-family: 'ProximaNova', sans-serif;
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            letter-spacing: normal;
            color: #000;
            margin: 0 0 5px 0;
        }
        .position {
            font-family: 'ProximaNova', sans-serif;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            margin: 0;
        }
    }
}

.time-select {
    padding: 0 0 10px;
    .time-blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 0 0 10px;
        .time {
            width: 64px;
            height: 32px;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 10px 10px 0;
            font-family: "ProximaNova", sans-serif;
            font-size: 14px;
            color: #272d36;
            border: 1px solid #272d36;
            cursor: pointer;
            &.active, &:hover {
                background: #272d36;
                color: #fff;
            }
        }
    }
}

.move-step {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.field-input {
    position: relative;
    font-family: "ProximaNova";
    font-size: 14px;
    font-weight: normal;
    color: #000;
    .step-input-btn {
        position: absolute;
        top: 8px;
        border: 0;
        outline: 0;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        &.dec {
            left: 5px;
        }
        &.inc {
            right: 5px;
        }
    }
    span {
        position: absolute;
        top: 11px;
        left: 45%;
    }
}
.btn-bg-orange {
    background-color: #ff7623;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 15px;
}
@media only screen and (max-width: 991.98px) { 
    .step-wrapper {
        width: 100%;
        margin: 0 auto;
    }
    .step-title {
        font-size: 13px;
    }
    .step-input-number {
        padding: 0 167px 0 30px;
    }
}
