<!-- Ludiino Feature list Start -->
<section id="feature_lud" class="feature_lud">
    <div class="container">
        <div class="title_lud">
            <h1>{{'Home.About.HeaderMessage'|translate}}</h1>
            <span>{{'Home.About.HeaderMessage'|translate}}</span>
        </div>
        <div class="row ">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 no_pad">
                <div class="fe_wrap_left">
                    <ul>
                        <li class="fe_box mar_left">
                            <h3>{{'Home.About.MessageHeader_1'|translate}}</h3>
                            <p> {{'Home.About.MessageContent_1'|translate}}</p>
                            <img src="assets/images/home2/line_box_left1.png" alt="" class="fe_line_box line_box_left1">
                        </li>
                        <li class="fe_box fe_box_left_center">
                            <h3>Accept Online and\or Offline Payment</h3>
                            <p>Online payments go directy to your bank account via secured payment portals to guarantee bookings and instantly receive booking confirmation. You can just focus on providing the best services without having to worry about managing
                                bookings, payments, and cash</p>
                            <img src="assets/images/home2/line_box_left2.png" alt="" class="fe_line_box line_box_left2">
                        </li>
                        <li class="fe_box mar_left">
                            <h3>{{'Home.About.MessageHeader_2'|translate}}</h3>
                            <p> {{'Home.About.MessageContent_2'|translate}}</p>
                            <img src="assets/images/home2/line_box_left3.png" alt="" class="fe_line_box line_box_left3">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <div class="fe_wrap_center">
                    <div class="fe_wrap_video">
                        <a href="#" data-toggle="modal" data-target="#lud_videos">
                            <img src="assets/images/home2/play_btn.png" alt="" class="play_btn_icon">
                        </a>
                        <!-- Modal -->
                        <div class="modal fade" id="lud_videos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <iframe width="100%" height="400" src="https://www.youtube.com/embed/3aglqJ9Syrw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 no_pad">
                <div class="fe_wrap_right">
                    <ul>
                        <li class="fe_box mar_right">
                            <h3>{{'Home.About.MessageHeader_3'|translate}}</h3>
                            <p> {{'Home.About.MessageContent_3'|translate}}</p>
                            <img src="assets/images/home2/line_box_right1.png" alt="" class="fe_line_box line_box_right1">
                        </li>
                        <li class="fe_box fe_box_right_center">
                            <h3>{{'Home.About.MessageHeader_4'|translate}}</h3>
                            <p> {{'Home.About.MessageContent_4'|translate}}</p>
                            <img src="assets/images/home2/line_box_right2.png" alt="" class="fe_line_box line_box_right2">
                        </li>
                        <li class="fe_box mar_right">
                            <h3>{{'Home.About.MessageHeader_5'|translate}}</h3>
                            <p> {{'Home.About.MessageContent_5'|translate}}</p> <img src="assets/images/home2/line_box_right3.png" alt="" class="fe_line_box line_box_right3">
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Ludiino Feature list End -->