<!-- Ludiino Feature list Start -->
<section id="feature_lud" class="feature_lud">
  <div class="container">
    <div class="title_lud">
      <h1>Change with Your Customers</h1>
      <span>Get <strong class="focus_text">Ludiino Online Booking & Scheduling</strong> System to never miss a booking & book more clients</span>
    </div>
    <div class="row ">
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 no_pad">
        <div class="fe_wrap_left">
          <ul>
            <li class="fe_box">
              <h3>A Professional Online Booking website that does business for you 24/7 non-stop</h3>
              <p>A free website for your business that not only displays information but also accepts online booking in real time 3 easy steps to create open time slots & services, publish them online for booking, and receive booking notification</p>
              <img src="assets/images/home2/line_box_left1.png" alt="" class="fe_line_box line_box_left1">
            </li>
            <li class="fe_box fe_box_left_center">
              <h3>Accept Online and\or Offline Payment</h3>
              <p>Online payments go directy to your bank account via secured payment portals to guarantee bookings and instantly receive booking confirmation. You can just focus on providing the best services without having to worry about managing bookings, payments, and cash</p>
              <img src="assets/images/home2/line_box_left2.png" alt="" class="fe_line_box line_box_left2">
            </li>
            <li class="fe_box">
              <h3>Staff Scheduling Management</h3>
              <p>Quick & easy to schedule staff working time and assign them to booking appointments per clients' requests. Readily available online reports about provided services and client satisfaction per staff</p>
              <img src="assets/images/home2/line_box_left3.png" alt="" class="fe_line_box line_box_left3">
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="fe_wrap_center">
          <div class="fe_wrap_video">
              <a href="#"><img src="assets/images/home2/play_btn.png" alt="" class="play_btn_icon"></a>
          </div>

        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 no_pad">
        <div class="fe_wrap_right">
          <ul>
            <li class="fe_box">
              <h3>Integrate with your available social channels</h3>
              <p>Clients can conveniently book services from your website but also from your social channels to trully get what they want when they want it</p>
              <img src="assets/images/home2/line_box_right1.png" alt="" class="fe_line_box line_box_right1">
            </li>
            <li class="fe_box fe_box_right_center">
              <h3>Auto Notifications & Reminders</h3>
              <p>The system automatically sends to clients reminders about upcoming apppointments and notifications when a booking is made\changed so you don't have to. Phone expenses and times are tramendously saved while more bookings & more happy clients are gained</p>
              <img src="assets/images/home2/line_box_right2.png" alt="" class="fe_line_box line_box_right2">
            </li>
            <li class="fe_box">
              <h3>Online Marketing and Promotional Campaigns </h3>
              <p>Flexible to create Online Marketing and Promotional Campaigns that send discount codes to targeted client groups to attract new clients and keep old clients coming back for more. Built-in KPIs reports available to analyze & measure the effectiveness of Marketing Campaigns so your next campaigns will always be more successful</p>
              <img src="assets/images/home2/line_box_right3.png" alt="" class="fe_line_box line_box_right3">
            </li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</section>
<!-- Ludiino Feature list End -->
