<!-- Footer Section start -->
<div class="copyright-section index-footer footer_lud">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="logo_ft"><img src="assets/images/logo_ft.png" alt="logo"></a>
                <div class="link_ft">
                    <ul>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms of Service </a>
                        </li>
                    </ul>
                </div>
                <div class="fb_fanpage">
                       
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FGolfconnect24%2F&tabs=timeline&width=250&height=100&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" style="border:none;overflow:hidden"
                        scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="contact-us">
                    <div class="w-100">
                        <h3>{{'Home.Footer.Title'|translate}}</h3>
                        <form class="theme-form" [formGroup]="guessMessageForm">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 md-fgrup-margin">
                                        <input type="text" name="name" class="form-control" autocomplete="off" placeholder="{{'Home.Footer.Form.Name'|translate}}" formControlName="CustomerName" required="required">
                                        <small *ngIf="isSubmitted&& f.CustomerName.errors?.required" class="form-text text-muted text-danger">{{'Register.message-require'|translate}}</small>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <input type="email" name="email" class="form-control" autocomplete="off" id="exampleFormControlInput1" formControlName="Email" placeholder="{{'Home.Footer.Form.Email'|translate}}" required="required">
                                        <small *ngIf="isSubmitted && f.Email.errors?.required" class="form-text text-muted text-danger">{{'Register.message-require'|translate}}</small>
                                        <small *ngIf="isSubmitted && f.Email.errors?.email" class="form-text text-muted text-danger">{{'Register.message-format-3'|translate}}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" maxlength="255" id="exampleFormControlTextarea1" autocomplete="off" rows="4" formControlName="Content"  required="required"></textarea>
                                <small *ngIf="isSubmitted && f.Content.errors?.required" class="form-text text-muted text-danger">{{'Register.message-require'|translate}}</small>
                                <small *ngIf="isSubmitted && f.Content.errors?.maxlength" class="form-text text-muted text-danger"> {{'Home.Footer.Form.maximumMessage'|translate}}</small>
                            </div>
                            <div class="form-button">
                                <button type="submit" class="btn btn-custom theme-color" (click)="onSubmit()">{{'Home.Footer.Form.Send'|translate}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <div class="ft_hotline">
                    <h3>{{'Home.Footer.Contact.Header'|translate}}</h3>
                    <!-- <p>{{'Home.Footer.Contact.Detail'|translate}}:</p> -->
                    <p class="ct_email">SUPPORT@LUDIINO.COM</p>
                    <p class="ct_hotline">1900 1890</p>
                </div>
            </div>
        </div>
        <div class="ft_bottom_line">
            <span>Copyright © 2019 Ludiino Company Limited. All rights reserved.</span>
        </div>
    </div>
</div>
<!-- Footer Section End -->
<!-- Tap on Top -->
<div class="tap-top">
    <div>
        <i class="fa fa-angle-double-up"></i>
    </div>
</div>
<!-- Tap on Ends -->