<div class="footer">
    <div class="footer-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-sm-6 col-md-3 pl-0">
                    <span class="logo-footer">
                        <img src="/assets/images/logo.png" alt="Logo">
                    </span>
                </div>
                <div class="col-12 col-sm-6 col-md-9">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-8 pl-top-mid">
                            <div class="section-support">
                                <div class="section-support-icon">
                                    <img src="assets/images/footer/email.png" alt="Email support">
                                </div>
                                <div class="section-support-content">
                                    <div class="section-support-content-head">
                                        {{ 'Home.Footer.EmailSupport' | translate }}
                                    </div>
                                    <div class="section-support-content-text">
                                        hello@ludiino.com
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 pl-top-right">
                            <div class="section-support">
                                <div class="section-support-icon">
                                    <img src="assets/images/footer/phone.png" alt="Email support">
                                </div>
                                <div class="section-support-content">
                                    <div class="section-support-content-head">
                                        {{ 'Home.Footer.CallCenter' | translate }}
                                    </div>
                                    <div class="section-support-content-text">
                                        +84 90 888 9263
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3 pl-0">
                    <div class="footer-main-title">{{ 'Home.Footer.ConnectWithUs' | translate }}</div>
                    <div class="footer-main-description">
                        {{ 'Home.Footer.FollowUs' | translate }}:
                    </div>
                    <div class="footer-main-social">
                        <span class="icon-facebook" (click)="openSocialLink('facebook')"><img src="/assets/images/footer/facebook.png" alt="Facebook"></span>
                        <span class="icon-google" (click)="openSocialLink('google')"><img src="/assets/images/footer/google.png" alt="Google"></span>
                        <span class="icon-youtube" (click)="openSocialLink('youtube')"><img src="/assets/images/footer/youtube.png" alt="Youtube"></span>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-9">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-8 plmid">
                            <div class="footer-main-title">{{ 'Home.Footer.KeepInTouch' | translate }}</div>
                            <div class="footer-main-description">
                                {{ 'Home.Footer.InputEmailToReceive' | translate }}
                            </div>
                            <form class="form-contact" [formGroup]="formContact" (ngSubmit)="requestContact()">
                                <input type="text" class="form-control" placeholder="Email" formControlName="email">
                                <small *ngIf="isSubmitted && formContact.get('email').errors?.required" class="form-text text-danger">{{'Register.message-require'|translate}}</small>
                                <small *ngIf="isSubmitted && formContact.get('email').errors?.email" class="form-text text-danger">{{'Register.message-format-3'|translate}}</small>
                                <button type="submit" class="button-submit" [buttonLoading]="isLoading" defaultText="Home.Footer.Form.Send" translate></button>
                            </form>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 plright">
                            <div class="footer-main-title">{{ 'Home.Footer.Category' | translate }}</div>
                            <div class="footer-main-link">
                                <div class="footer-main-link-item" (click)="redirectToPrivacyPolicy()">
                                    <fa-icon [icon]="iconCaretLink"></fa-icon>
                                    <span class="footer-main-link-item-title">{{ 'Home.Footer.PrivacyPolicy' | translate }}</span>
                                </div>
                                <div class="footer-main-link-item" (click)="redirectToTermOfService()">
                                    <fa-icon [icon]="iconCaretLink"></fa-icon>
                                    <span class="footer-main-link-item-title">{{ 'Home.Footer.TermService' | translate }}</span>
                                </div>
                                <div class="footer-main-link-item" (click)="redirectToBlog()">
                                    <fa-icon [icon]="iconCaretLink"></fa-icon>
                                    <span class="footer-main-link-item-title">{{ 'Home.Footer.Blog' | translate }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-footer">
        <div class="container">
            <div class="row">
                <div class="text-footer">Copyright © 2020 Ludiino Company Limited. All rights reserved.</div>
            </div>
        </div>
    </div>
</div>
