.forgot-password {
    &-form {
        padding: 15px 20px;
        background: #ffffff;
        border-radius: 5px;
        &-box {
            &-group {
                position: relative;
                &-input {
                    border-style: none;
                    padding: 5px;
                    outline: none;
                    margin-top: 5px;
                    font-size: 14px;
                    height: 40px;
                    border-radius: 3px;
                    background-color: #edf1f7;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: rgba(0, 0, 0, 0.9);
                    padding-left: 45px;
                    width: 100%;
                }
                &-email {
                    position: absolute;
                    left: 10px;
                    top: 20px;
                }
                &-gach {
                    position: absolute;
                    width: 1px;
                    height: 19px;
                    opacity: 0.6;
                    background-color: #9fb2c9;
                    top: 15px;
                    left: 34px;
                }
            }
            .alert-success {
                span {
                    display: block;
                    text-align: center;
                }
            }
        }
        .button-submit {
            background-image: linear-gradient(to bottom, #F5C072, #E79B3D);
            border: 0;
            width: 100%;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            padding: 8px 10px;
            outline: none;
            box-shadow: none;
        }
    }
    &-title {
        margin-top: 5px;
        font-size: 25px;
        text-align: center;
        font-weight: 600;
    }
    &-description {
        font-size: 14px;
        text-align: center;
    }
    &-ulti {
        margin-top: 20px;
        text-align: center;
        &-link {
            a {
                color: #007bff;
                &:hover {
                    color: #efaf5b;
                }
            }
        }
        &-text {
            a {
                color: #007bff;
                &:hover {
                    color: #efaf5b;
                }
            }
        }
    }
}