<section class="section_payment col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <div class="container_full_width">
    <div class="wrap">
      <div class="row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <!-- left content -->
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 left-content">
          <div class="wrap_form_field">
            <div class="header-page">
              <h2 class="header-form col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" > Gói dịch vụ đăng ký</h2>
              <span class="descrition-page col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Bạn đang tiến hành gói đăng ký dịch vụ, vui lòng kiểm tra thông tin bên
                dưới:</span>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 clear-fix">
              <div class="clear-fix-content"></div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <span class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 one-line">Gói dịch vụ đã chọn</span>
              <span class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  one-line ">
                <div class="medal-image one-line">
                  <img src="../../../assets/images/app/payment/images.jpeg" alt="">
                </div>
                <span class="focus-yellow one-line">Enterprise package</span>
              </span>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 clear-fix">
                <div class="clear-fix-content"></div>
              </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 one-line">Thời gian đăng ký</div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  one-line">
                <select>
                  <option value="3">3 tháng</option>
                  <option value="6" selected>6 tháng</option>
                  <option value="12">12 tháng</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 clear-fix">
                <div class="clear-fix-content"></div>
              </div>
            <div class=" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 one-line">
                Tài khoản:
              </div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  one-line">
                Phương Nguyễn
              </div>
            </div>
            <div class=" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 one-line">Liên hệ:</div>
              <div class=" col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 one-line">0922222222</div>
            </div>
            <div class=" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 one-line">Ngày bắt đầu:</div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  one-line">01/04/2019</div>
            </div>
            <div class=" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 one-line">Ngày kết thúc:</div>
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  one-line">30/09/2019</div>
            </div>
          </div>
        </div>
        <!-- end left content -->
        <!-- right content -->
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 right-content">
          <div class="wrap_form_field">
            <div class="header-page">
              <h2 class="header-form"> Thanh toán</h2>
              <span class="descrition-page">Phương thức thanh toán</span>
            </div>
            <ul>
              <li class="row">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="payment-method">Thanh toán trực tiếp
                </label>
              </li>
              <li class="row">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="payment-method">Chuyển khoản ngân hàng
                </label>
              </li>
              <li class="row">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="payment-method" disabled>thanh toán online bằng thẻ
                  Visa/Mastercard
                </label>
              </li>
              <li class="row">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="payment-method" disabled>Thanh toán bằng thẻ nội
                  địa
                </label>
              </li>
            </ul>
            <hr />
            <div class=" form-check-inline col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">Tạm tính</div>
              <div style="float:right;">999,000 đ</div>
            </div>
            <hr />
            <div class="form-check-inline col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">Tổng cộng</div>
              <div>999,000 đ</div>
            </div>
          </div>

        </div>
        <!-- end right content -->
      </div>
    </div>
  </div>
</section>