.one-line {
  display: inline-block;
  overflow: hidden;
  padding-left: 0px;
}
.clear-fix {
  margin: 15px 15px 15px 0;
  overflow: hidden;
  .clear-fix-content {
      position: absolute;
      border-bottom: 1px solid #eeede8;
      width:95%;
      margin-right: 15px;
  }
}
.right-content {
  background-color: rgb(32, 32, 58);
  color: white;
  padding-top: 50px;
  .header-form {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: white;
  }
}
.left-content {
  
  padding-top:50px;
  .header-form {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: black;
  }
}
.focus-yellow {
  padding: 4px;
  background-color: rgb(251, 228,000);
  border: 1px solid rgb(251, 228,000);
  border-radius: 13px;
}
.medal-image img {
  max-width: 29px;
}
.complete-payment-btn{
  background-color: rgb(018,160,229);
  width: 100%;
  padding: 0;
  margin: 0 auto;
  border-radius: 3px;
  height: 30px;
  clear: both;
  text-align: center;
  margin-top:10px;
  padding-top:3px;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  margin-top:100px; 

}